 @media (max-width: $screen-md-max) {
     // Desktop
     .navbar-nav {
         float: right;
     }
     .nav>li>a {
         padding: 10px 7px;
     }
     .login-btn {
         margin: 0 4px;
     }
 }