 @media (max-width: $screen-md-max) {
     // Desktop
     .navbar-nav {
         float: right;
     }
     .globe-container {
        width: 50% !important;
        margin: auto;
        padding-top: 15% !important;
     }
 }