 @media (max-width: $screen-xs-max) {
     // Mobile
     body {
         overflow-x: hidden;
         h2 {
             font-size: 25px;
         }
         h3 {
             font-size: 18px;
         }
         h4 {
             font-size: 16px;
         }
     }
     .aboutus {
         .about-parallax {
             height: 170vh;
         }
     }
     .tokenstructure {
         .token-parallax {
             height: 160vh;
         }
     }
     p,
     a {
         font-size: 11px;
     } //scss for header
     .logo {
         max-width: 120px;
     }
     .custom-navbar .navbar-nav {
         float: none;
     } //scss for home page
     .home .section-cover {
         height: 85vh;
     }
     .home .wheretobuy .icons a img {
         max-width: 300px;
     }
     .home .globe {
         width: 100%;
         margin-bottom: 20px;
     }
     .home .globe-container {
         left: 50%;
         top: 32%;
     }
     .home .globe-text {
         position: absolute;
         top: 100%;
         background: rgba(0, 0, 0, 0.51);
         right: -25%;
         transform: translate(0%, 0%);
         color: #fff;
         width: 140%;
         padding: 20px;
     }
     .home .globe-text .title {
         text-align: center;
     } //scss for about us 
     .aboutus .aboutinfo,
     .contactus .aboutinfo {
         display: block;
     }
     .aboutinfo {
         h3 {
             text-align: center;
         }
         img {
             margin-left: 20%;
         }
     }
     .aboutus .about-parallax,
         {
         height: auto;
     } //scss for get started page
     .get-king text-right {
         text-align: center !important;
     } //scss for partner page
     .partner .tokeninfo {
         padding: 15% 10% 0% 10%;
     }
     .contactus .about-parallax {
         height: auto;
     } //scss for faq
     .faq .header {
         padding-top: 12vh !important;
     }
     .mt-40 {
         margin-top: 40px;
     }
     .home .whytobuy .spacing {
         padding: 1% 5% 6% 4% !important;
     }
 }