 @media (max-width: $screen-xs-max) {
     // Mobile
     body {
         overflow-x: hidden;
         h2 {
             font-size: 25px;
         }
         h3 {
             font-size: 18px;
         }
         h4 {
             font-size: 16px;
         }
     }
     .aboutus {
         .about-parallax {
             height: 170vh;
         }
     }
     .tokenstructure {
         .token-parallax {
             height: 160vh;
         }
     }
     p,
     a {
         font-size: 11px;
     } //scss for header
     .logo {
         max-width: 120px;
     }
     .socialmedia {
         top: 70%;
     }
     .custom-navbar .navbar-nav {
         float: none;
     }
     .custom-navbar .navbar-nav li>.login-btn {
         margin-bottom: 5px;
     }
     .overflow {
         overflow-x: hidden !important;
     } //scss for home page
     .home .section-cover {
         height: 85vh;
     }
     .home .wheretobuy .icons a img {
         max-width: 300px;
     }
     .home .globe {
         width: 100%;
         margin-bottom: 20px;
     }
     .home .globe-container {
         left: 50%;
         top: 10%;
     }
     .home .globe-text {
         position: absolute;
         top: 0%;
         background: rgba(0, 0, 0, 0.51);
         right: -25%;
         transform: translate(120%, -15%);
         color: #fff;
         width: auto;
         padding: 20px;
         .title h1 {
             font-size: 22pt !important;
         }
         .subtitle {
             font-size: 12px;
         }
     }
     .home .globe-text .title {
         text-align: center;
     } //scss for about us 
     .aboutus .aboutinfo,
     .contactus .aboutinfo {
         display: block;
     }
     .aboutinfo {
         h3 {
             text-align: center;
         }
         img {
             margin-left: 20%;
         }
     }
     .aboutus .about-parallax,
         {
         height: auto;
     } //scss for get started page
     .get-king text-right {
         text-align: center !important;
     } //scss for partner page
     .partner .tokeninfo {
         padding: 15% 10% 0% 10%;
     }
     .contactus .about-parallax {
         height: auto;
     } //scss for faq
     .faq .header {
         padding-top: 12vh !important;
     }
     .mt-40 {
         margin-top: 40px;
     }
     .home .whytobuy .spacing {
         padding: 1% 5% 6% 4% !important;
     }
     .game-list-inline {
         font-size: 12px;
     } //scss for signup
     .signup-main {
         width: 100%;
     } //scss for dashboard
     .dashboard {
         .input-box {
             width: 100%;
             margin-bottom: 20px;
         }
         .pull-right {
             padding: 10px 35px;
             float: none !important;
         }
     }
     .profile-dropdown {
         left: 40%;
     }
     .profile-img {
         display: block !important;
     }
     .mb-10 {
         margin-top: 50px;
     }
     .game-list-inline li {
         padding: 5px 125px 5px 15px;
         font-size: 12px;
     }
     .home .why .icon {
         height: 30px;
         width: 30px;
     }
     .get-king {
         padding: 4px;
         font-size: 11px;
         .text-right {
             text-align: center !important;
         }
     }
     .home .why .info {
         font-size: 11px;
     }
     .partner .token-parallax {
         height: 172vh;
     }
     .contact-registration {
         padding: 30px 20px;
     }
     .withdraw-main p,
     .withdraw-main .custom-input,
     .withdrop-abs {
         font-size: 12px;
     }
     .withdraw-main {
         padding: 20px;
     }
     .profile-dropdown {
         margin: 45px -15px 0px;
     }
     .login-bg {
         height: 145vh;
     }
 }