<div class="aboutus">
    <div class="row">
        <!-- Section About Us Info -->
        <div class="about-cover">
            <div class="about-parallax">
                <div class="container">
                    <div class="row aboutinfo">
                        <div class="col-md-6 col-xs-12">
                            <div class="wow rotateIn" data-wow-delay="0.25s" data-wow-duration="1.2s">
                                <img src="img/coin.png">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="wow bounceInLeft">
                                <h2>
                                    BetKoin is a solution
                                    <span>for global gaming ecosystem</span>
                                </h2>
                                <p>
                                    The rapid rise in the number of crypto currencies has attracted a growing interest in the community. In just two years, the
                                    value of bitcoin has increased by more than 1,000%. With more than 1000 different crypto
                                    currencies available and more being developed everyday, the crypto currency market is
                                    really booming. Besides, as a huge number of people gamble in daily sports, online poker,
                                    the market capitalization is expected to reach $ 495 billion by 2019.
                                </p>
                                <p>
                                    Potentially, the launch of BetKoin offers a solution that allows online gamings to accept payments in crypto currency. In
                                    addition, BetKoin also provides a platform and APIs for game developers, in such a way
                                    that traditional casinos can easily integrate their systems, reach millions of gamers
                                    and build a complete ecosystem according to their needs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section Solutions -->
            <div class="solutions ">
                <div class="container ">
                    <div class="row ">
                        <div class="text-center text-uppercase">
                            <h3>OUR CORE VALUE</h3>
                            <hr>
                            <!-- <h4>Our goal is to make BetKoin become the most popular and popular token in the field of online gaming.
                            <span>You can use BetKoin to play, bet, invest…</span>
                        </h4> -->
                        </div>
                        <div class="blocks">
                            <div class="row">
                                <div class="col-md-3 col-xs-12 wow bounceInDown" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceInDown;">
                                    <div class="block">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-3">
                                                <div class="icon">
                                                    <img src="img/wimage_0003_Layer-9.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-xs-9">
                                                <div class="title">Real Values</div>
                                                <p>
                                                    When winning a game, a player can convert points to BetKoin token inside the gaming system.
                                                </p>
                                                <p>
                                                    Internal exchange allows users to withdraw BetKoin tokens to their wallets &amp; exchange to BTC or ETH.
                                                </p>
                                                <p>
                                                    Trading BetKoin on the TOP international exchanges
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12  wow bounceInDown" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceInDown;">
                                    <div class="block">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-3">
                                                <div class="icon">
                                                    <img src="img/wimage_0002_Vector-Smart-Object-copy-6.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-xs-9">
                                                <div class="title">OpenAPI platform</div>
                                                <p>
                                                    Easy to integrate traditional online game systems.
                                                </p>
                                                <p>
                                                    Accept BetKoin, BTC, ETH
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12  wow bounceInDown" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: bounceInDown;">
                                    <div class="block">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-3">
                                                <div class="icon">
                                                    <img src="img/wimage_0000_Layer-8.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-xs-9">
                                                <div class="title">Highest security technology</div>
                                                <p>
                                                    Use of blockchain technology and constant improvements.
                                                </p>
                                                <p>
                                                    Blockchain is designed to resist data changes. The information in the blockchain cannot be changed.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12  wow bounceInDown" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: bounceInDown;">
                                    <div class="block">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-3">
                                                <div class="icon">
                                                    <img src="img/wimage_0001_Layer-7.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-xs-9">
                                                <div class="title">Highest speed with lowest cost</div>
                                                <p>
                                                    Instant, on-demand settlement.
                                                </p>
                                                <p>
                                                    Low operational and liquidity costs of all the nodes in the system.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Flipping Coin -->
            <!-- <div class="coin-body">
                <div class="coin-flip">
                    <div class="coin-tails">
                        <img src="img/coin.png">
                    </div>
                    <div class="coin-heads">
                        <img src="img/coin.png">
                    </div>
                    <div class="coin-tails">
                        <img src="img/coin.png" style="margin-left: 10%;">
                    </div>
                    <div class="coin-heads">
                        <img src="img/coin.png" style="margin-left: 10%;">
                    </div>
                </div>
            </div> -->

            <!-- Section Team -->
            <!-- <div class="team ">
                <div class="container ">
                    <div class="row ">
                        <div class="text-center text-uppercase heading-yellow ">
                            <h3>behind the scenes</h3>
                            <hr>
                        </div>
                        <div class="content-area ">
                            <div class="row ">
                                <div class="container ">
                                    <div class="col-md-4 ">
                                        <div class="profile hoverprofile text-center ">
                                            <div class="avatar ">
                                                <img alt="Bio profile image " src="https://cdn.decent.bet/img/team/jedidiah-taylor.jpg ">
                                            </div>
                                            <div class="info text-center ">
                                                <div class="title ">
                                                    <a target="_blank " href="# ">Jedidiah Taylor</a>
                                                </div>
                                                <div class="desc ">CEO &amp; Founder</div>
                                                <div class="profile-bottom ">
                                                    <span>
                                                        <span>Jedidiah is a serial entrepreneur with a</span>
                                                        <br>
                                                        <span>passion for innovative technology and</span>
                                                        <br>
                                                        <span>
                                                            <span>
                                                                social causes. He has held and managed …
                                                            </span>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="bottom ">
                                                    <button class="btn btn-primary btn-round-lg btn-lg btn-large hvr-float ">READ MORE</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="profile hoverprofile text-center ">
                                            <div class="avatar ">
                                                <img alt="Bio profile image " src="https://cdn.decent.bet/img/team/adrian-scott.jpg ">
                                            </div>
                                            <div class="info ">
                                                <div class="title ">
                                                    <a target="_blank " href="# ">Adrian Scott</a>
                                                </div>
                                                <div class="desc ">Senior Director of Technology</div>
                                                <div class="profile-bottom ">
                                                    <span>
                                                        <span>Adrian Scott, Ph.D., was a founding investor</span>
                                                        <br>
                                                        <span>in Napster, the peer-to-peer digital music</span>
                                                        <br>
                                                        <span>
                                                            <span>
                                                                distribution pioneer, and then pioneered t

                                                            </span>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="bottom ">
                                                    <button class="btn btn-primary btn-round-lg btn-lg btn-large hvr-float ">READ MORE</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="profile hoverprofile text-center ">
                                            <div class="avatar ">
                                                <img alt="Bio profile image " src="https://cdn.decent.bet/img/team/rev-nissan.jpg ">
                                            </div>
                                            <div class="info ">
                                                <div class="title ">
                                                    <a target="_blank " href="# ">Rev Nissan</a>
                                                </div>
                                                <div class="desc ">VP of Community Relations</div>
                                                <div class="profile-bottom ">
                                                    <span>
                                                        <span>Rev has been involved in Bitcoin and Bitcoin</span>
                                                        <br>
                                                        <span>mining since inception, and was one of the</span>
                                                        <br>
                                                        <span>
                                                            <span>
                                                                very first involved in Bitcoin. Rev operates

                                                            </span>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="bottom ">
                                                    <button class="btn btn-primary btn-round-lg btn-lg btn-large hvr-float ">READ MORE</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="profile hoverprofile text-center ">
                                            <div class="avatar ">
                                                <img alt="Bio profile image " src="https://cdn.decent.bet/img/team/kurt-connolly.jpg ">
                                            </div>
                                            <div class="info ">
                                                <div class="title ">
                                                    <a target="_blank " href="# ">Kurt Connolly</a>
                                                </div>
                                                <div class="desc ">VP of Operations</div>
                                                <div class="profile-bottom ">
                                                    <span>
                                                        <span>Kurt is an operational superstar due to his</span>
                                                        <br>
                                                        <span>experience as an international business</span>
                                                        <br>
                                                        <span>
                                                            <span>
                                                                entrepreneur and a successful property d

                                                            </span>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="bottom ">
                                                    <button class="btn btn-primary btn-round-lg btn-lg btn-large hvr-float ">READ MORE</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="profile hoverprofile text-center ">
                                            <div class="avatar ">
                                                <img alt="Bio profile image " src="https://cdn.decent.bet/img/team/chris-hensley.jpg ">
                                            </div>
                                            <div class="info ">
                                                <div class="title ">
                                                    <a target="_blank " href="# ">Chris Hensley</a>
                                                </div>
                                                <div class="desc ">VP of Marketing</div>
                                                <div class="profile-bottom ">
                                                    <span>
                                                        <span>Chris has been in many corporate</span>
                                                        <br>
                                                        <span>leadership roles which were the foundation</span>
                                                        <br>
                                                        <span>
                                                            <span>
                                                                to his entrepreneurial success. As Senior

                                                            </span>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="bottom ">
                                                    <button class="btn btn-primary btn-round-lg btn-lg btn-large hvr-float ">READ MORE</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="profile hoverprofile text-center ">
                                            <div class="avatar ">
                                                <img alt="Bio profile image " src="https://cdn.decent.bet/img/team/vada-thai.jpg ">
                                            </div>
                                            <div class="info ">
                                                <div class="title ">
                                                    <a target="_blank " href="# ">Vada Thai</a>
                                                </div>
                                                <div class="desc ">Controller</div>
                                                <div class="profile-bottom ">
                                                    <span>
                                                        <span>Vada has 15+ years of experience in the</span>
                                                        <br>
                                                        <span>hospitality and gaming sector working at</span>
                                                        <br>
                                                        <span>
                                                            <span>
                                                                many of the industry leaders such as Cae

                                                            </span>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="bottom ">
                                                    <button class="btn btn-primary btn-round-lg btn-lg btn-large hvr-float ">READ MORE</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>