<div class="aboutus">
    <div class="about-cover">
        <div class="about-parallax">
            <div class="container">
                <div class="row aboutinfo">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="wow rotateIn" data-wow-delay="0.25s" data-wow-duration="1.2s">
                            <img src="img/coin.png">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="wow bounceInLeft">
                            <h3 class="text-uppercase heading-yellow">
                                BetKoin is a solution
                                <span>for global gambling ecosystem</span>
                            </h3>
                            <p>
                                Betkoin is the first crypto to actually have a concept and a business plan. It's actually put to use unlike the several other
                                crypto currencies which work on face value only. We believe in genuine use of the currency
                                hence genuine results and genuine returns. It’s a huge transformation in the betting world.
                                The widespread adoption of crypto currency in the gambling world is no longer a pipe dream.
                                It establishes the widespread adoption of cryptocurrency in gambling as a reality. The crypto
                                is your one stop ATM for all kinds of betting; be it Casino games like Teen patti, Poker,
                                Roulette, Blackjack, etc or Sportsbook betting like Cricket, Football, Tennis etc. The transactions
                                are user friendly and permanent with no chance of fraud. They ensure that you are in full
                                control and are completely untraceable. Crypto transactions are based on block chain technology
                                and hence ensure that your privacy and safety is always intact no matter what!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h3 class="text-uppercase heading-yellow">
                        Gambling Services On Offer
                    </h3>
                </div>
                <div class="gambling-section">
                    <div class="text-left">

                        <div>
                            <div class="d-inline">
                                <img class="contact-img doneLoading" src="img/live-cosino.png">
                            </div>
                            <div class="d-inline">
                                <h4 class="text-uppercase heading-yellow">Live Casino</h4>
                            </div>
                        </div>
                    </div>
                    <p>When you play Live Casino on Kings App, you'll feel like you're on the casino floor! With an ever expanding
                        choice of all time favourite table games and the most professional live dealers you will meet. Live
                        Casino games on Kings App is such a popular choice for players of all levels and experience, that
                        we are continually adding new game tables to our already large variety at the Kings lobby. There’s
                        a classic game for every mood,
                    </p>
                    <div class="game-list-inline">
                        <ul class="list-inline">
                            <li>TeenPatti</li>
                            <li>Texas Holdem Poker</li>
                            <li>Roulette</li>
                            <li>Live Baccarat</li>
                            <li>Live Blackjack</li>
                            <li>Live Money Wheel</li>
                            <li>Live Roulette</li>
                            <li>Live Ultimate Texas Holdem</li>
                            <li>Live Extreme Texas Holdem</li>
                            <li>Live Casino Holdem</li>
                            <li>Live Three Card Poker </li>
                            <li>Live Triple Card Poker </li>
                            <li>Live Caribbean Stud </li>

                        </ul>
                    </div>

                </div>
                <div class="gambling-section ">
                    <div>
                        <div class="d-inline">
                            <img class="contact-img doneLoading" src="img/sportbook.png">
                        </div>
                        <div class="d-inline">
                            <h4 class="text-uppercase heading-yellow">Sportsbook</h4>
                        </div>
                    </div>

                    <p>Experience the thrill of Sports Betting on all major sports. Sportsbook is your source for the best in
                        sports betting entertainment. Bet on all your favourite sporting events in real time with the latest
                        betting odds. </p>
                    <div class="game-list-inline">
                        <ul class="list-inline">
                            <li>
                                Cricket
                            </li>
                            <li>
                                Football
                            </li>
                            <li>
                                Tennis
                            </li>
                            <li>
                                Greyhound Racing
                            </li>
                            <li>Horse Racing</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>