<div class="aboutus">
    <div class="row">
        <div class="about-cover">
            <div class="about-parallax">
                <div class="container">
                    <div class="row aboutinfo">
                        <div class="col-md-6 col-xs-12">
                            <div class="wow rotateIn" data-wow-delay="0.25s" data-wow-duration="1.2s">
                                <img src="img/coin.png">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="wow bounceInLeft">
                                <h2>
                                    BetKoin is a solution
                                    <span>for global gambling ecosystem</span>
                                </h2>
                                <p>
                                    The rapid rise in the number of crypto currencies has attracted a growing interest in the community. In just two years, the
                                    value of bitcoin has increased by more than 1,000%. With more than 1000 different crypto
                                    currencies available and more being developed everyday, the crypto currency market is
                                    really booming. Besides, as a huge number of people gamble in daily sports, online poker,
                                    the market capitalization is expected to reach $ 495 billion by 2019. Potentially, the
                                    launch of BetKoin offers a solution that allows online gambling to accept payments in
                                    crypto currency. Betkoin is a form of digital online money using blockchain technology
                                    that can be easily transferred all around the world in a blink of an eye with nearly
                                    non-existent transaction fees with market leading security & privacy.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>