<!-- <div class="contactus">
    <div class="row">
        <div class="token-cover">
            <div class="token-parallax">
                <div class="container">
                    <div class="row tokeninfo text-center">
                        <h1>Contact Us</h1>
                        <h3>Reach out to us and we'll respond as soon as we can.</h3>
                    </div>
                </div>
                <div class="container">
                    <div class="row contactinfo row-eq-height">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="col-md-12 contactblock">
                                <div class="col-md-2 pad0">
                                    <img class="wdh" src="img/location.png" style="margin-top: 30px;">
                                </div>
                                <div class="col-md-10">
                                    <h3>Location</h3>
                                    <p>432 Zafer Street New youk 234 America</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="col-md-12 contactblock">
                                <div class="col-md-2 pad0">
                                    <img class="wdh" src="img/mobile.png" style="margin-top: 30px;">
                                </div>
                                <div class="col-md-10">
                                    <h3>Phone Number</h3>
                                    <a href="tel:">+(333) 052 39876 </a>
                                    <br>
                                    <a href="tel:">+(000) 121 45678 </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="col-md-12 contactblock">
                                <div class="col-md-2 pad0">
                                    <img class="wdh" src="img/email.png" style="margin-top: 30px;">
                                </div>
                                <div class="col-md-10">
                                    <h3>E-Mail Us</h3>
                                    <a href="mailto:abc@example.com">abc@example.com</a>
                                    <br>
                                    <a href="mailto:abc@example.com">abc2@example2.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="contactus">
    <div class="row">
        <!-- Section About Us Info -->
        <div class="about-cover">
            <div class="about-parallax">
                <div class="container">
                    <!-- <div class="row aboutinfo">
                        <div class="col-md-6 col-xs-12">
                            <div class="wow rotateIn" data-wow-delay="0.25s" data-wow-duration="1.2s">
                                <img src="img/coin.png">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="wow bounceInLeft">
                                <h2>
                                    BetKoin is a solution
                                    <span>for global gambling ecosystem</span>
                                </h2>
                                <p>
                                    The rapid rise in the number of crypto currencies has attracted a growing interest in the community. In just two years, the
                                    value of bitcoin has increased by more than 1,000%. With more than 1000 different crypto
                                    currencies available and more being developed everyday, the crypto currency market is
                                    really booming. Besides, as a huge number of people gamble in daily sports, online poker,
                                    the market capitalization is expected to reach $ 495 billion by 2019. Potentially, the
                                    launch of BetKoin offers a solution that allows online gambling to accept payments in
                                    crypto currency. Betkoin is a form of digital online money using blockchain technology
                                    that can be easily transferred all around the world in a blink of an eye with nearly
                                    non-existent transaction fees with market leading security & privacy.
                                </p>
                            </div>
                        </div>
                    </div> -->

                    <div class="row tokeninfo text-center">
                        <h1>Contact Us</h1>
                        <h3>Reach out to us and we'll respond as soon as we can.</h3><br>   
                    </div>
                </div>
                <div class="container">
                    <div class="row contactinfo row-eq-height">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="col-md-12 contactblock">
                                <div class="col-md-2 pad0">
                                    <img class="wdh" src="img/location.png" style="margin-top: 30px;">
                                </div>
                                <div class="col-md-10">
                                    <h3>Location</h3>
                                    <p>432 Zafer Street New youk 234 America</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="col-md-12 contactblock">
                                <div class="col-md-2 pad0">
                                    <img class="wdh" src="img/mobile.png" style="margin-top: 30px;">
                                </div>
                                <div class="col-md-10">
                                    <h3>Phone Number</h3>
                                    <a href="tel:">+(333) 052 39876 </a>
                                    <br>
                                    <a href="tel:">+(000) 121 45678 </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="col-md-12 contactblock">
                                <div class="col-md-2 pad0">
                                    <img class="wdh" src="img/email.png" style="margin-top: 30px;">
                                </div>
                                <div class="col-md-10">
                                    <h3>E-Mail Us</h3>
                                    <a href="mailto:abc@example.com">abc@example.com</a>
                                    <br>
                                    <a href="mailto:abc@example.com">abc2@example2.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>