<div class="tokenstructure">
    <div class="row">
        <!-- Section About Us Info -->
        <div class="token-cover">
            <div class="token-parallax">
                <div class="container">
                    <div class="row tokeninfo text-center">
                        <h1>Contact Us</h1>
                    </div>
                </div>
                <div class="container">
                    <div class="custom-form">
                        <form>
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control custom-input" id="fname" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control custom-input" id="lname" placeholder="Surname">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control custom-input" id="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="number" class="form-control custom-input" id="mobile" placeholder="Mobile Number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="grad-div1">
                                        <textarea class="form-control" id="comment" placeholder="Leave a message" rows="8"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center">
                                <!-- <input class="btn btn-default" type="submit" value="Submit"> -->
                                <img class="custom-submit" src="img/submit.png">
                            </div>
                            <div class="row text-center grad-div">
                                <br> Contact On the Following Numbers
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md-4 whatsapp">

                                    </div>
                                    <div class="col-md-2 text-right">
                                        <h4>123456789</h4>
                                    </div>
                                    <div class="col-md-1 call">

                                    </div>
                                    <div class="col-md-5 text-left">
                                        <h4>123456789</h4>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>