<div class="contactus">
    <div class="about-cover">
        <div class="about-parallax">
            <div class="contactinfo">
                <div class="container">
                    <div class="row text-center">
                        <h1>Contact Us</h1>
                        <h3>Reach out to us and we'll respond as soon as we can.</h3>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="row-eq-height">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="contactblock">
                                <div class="col-md-2 col-xs-2 pad0">
                                    <img class="wdh" src="img/location.png" style="margin-top: 30px;">
                                </div>
                                <div class="col-md-10 col-xs-10">
                                    <h3>Location</h3>
                                    <p>432 Zafer Street New youk 234 America</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="contactblock">
                                <div class="col-md-2 col-xs-2 pad0">
                                    <img class="wdh" src="img/mobile.png" style="margin-top: 30px;">
                                </div>
                                <div class="col-md-10 col-xs-10">
                                    <h3>Phone Number</h3>
                                    <a href="tel:">+(333) 052 39876 </a>
                                    <br>
                                    <a href="tel:">+(000) 121 45678 </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="contactblock">
                                <div class="col-md-2 pad0 col-xs-2">
                                    <img class="wdh" src="img/email.png" style="margin-top: 30px;">
                                </div>
                                <div class="col-md-10 col-xs-10">
                                    <h3>E-Mail Us</h3>
                                    <a href="mailto:abc@example.com">abc@example.com</a>
                                    <br>
                                    <a href="mailto:abc@example.com">abc2@example2.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>