<div class="games-modal game-cricket">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss();clearData()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" id="modal-body">
        <div>
            <h1 class="text-center">Cricket</h1>
            <hr>
            <p class="text-left">
                Bet as the action unfolds! We offer a multitude of different betting options across a huge number of matches and tournaments
                in cricket!.
                <br> For Cricket, such kinds of Bet Markets are available:</p>
            <ul>
                <li>Match Odds</li>
                <li>Session Runns</li>
                <li>Completed Match</li>
                <li>Tied Match</li>
                <li>20/ 50 Over Runs</li>
            </ul>
        </div>
    </div>
</div>