<div class="login-bg dashboard">
    <div class="container">
        <diV class="overlay-dark">
            <!-- <form>
                        <input type="text" class="input-box" placeholder="Search">
                        <div class="pull-right d-flex">
                            <div class="dropdown dropdown-style">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">
                                    Both
                                    <span class="caret muddy-color"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#">Action</a>
                                    </li>
                                    <li>
                                        <a href="#">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#">Something else here</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="dropdown dropdown-style">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">
                                    From
                                    <span class="caret muddy-color"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#">Action</a>
                                    </li>
                                    <li>
                                        <a href="#">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#">Something else here</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="dropdown dropdown-style">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">
                                    To
                                    <span class="caret muddy-color"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#">Action</a>
                                    </li>
                                    <li>
                                        <a href="#">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#">Something else here</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form> -->
            <table class="table table-responsive custom-style" ng-if="coinTxTotalData != 0">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Transaction Date</th>
                        <th>User Name</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center">1</td>
                        <td>12 June 1990</td>
                        <td>Pappu</td>
                        <td>Withdrawal</td>
                        <td>10000</td>
                        <td>sucessful</td>
                    </tr>
                    <tr>
                        <td align="center">1</td>
                        <td>12 June 1990</td>
                        <td>Pappu</td>
                        <td>Withdrawal</td>
                        <td>10000</td>
                        <td>sucessful</td>
                    </tr>
                    <tr>
                        <td align="center">1</td>
                        <td>12 June 1990</td>
                        <td>Pappu</td>
                        <td>Withdrawal</td>
                        <td>10000</td>
                        <td>sucessful</td>
                    </tr>
                    <tr>
                        <td align="center">1</td>
                        <td>12 June 1990</td>
                        <td>Pappu</td>
                        <td>Withdrawal</td>
                        <td>10000</td>
                        <td>sucessful</td>
                    </tr>
                    <tr ng-repeat="data in coinTxData track by $index">
                        <td align="center">{{$index+1}}</td>
                        <td>{{data.createdAt|date}}</td>
                        <td>{{data.toUser.username}}</td>
                        <td>{{data.amount}}</td>
                        <td>Done</td>
                    </tr>
                </tbody>
            </table>
            <ul ng-if="coinTxTotalData != 0" class="pagination-style" uib-pagination total-items="totalItems" ng-model="currentPage"
                ng-change="pageChanged(currentPage)"></ul>
            <h4 class="muddy-color text-center">
                Please do some transations to see you transations.
            </h4>
        </diV>
    </div>

</div>