<div class="login-bg padding-body">
    <div class="container">

        <div class="withdraw-main">
            <div class="with-heading text-center">
                <h4>Deposite</h4>
            </div>
            <div class="with-padd">
                <div class="row">
                    <div class="col-md-5">
                        <p>Current Balance:</p>
                    </div>
                    <div class="col-md-7 text-right">
                        <p class="balance Oswald-family">
                            <span class="yellow-color">10000 BETKOIN -</span>1000 INR</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <p>Enter Amount:</p>
                    </div>
                    <div class="col-md-8 text-right">
                        <input type="text" placeholder="" class="custom-input">
                        <span class="withdrop-abs">Deposit</span>
                        <br>
                        <span>Deposit at Betkoin</span>
                    </div>
                </div>
                <div class="address">
                    <p>Pay with bitcoin Wallete</p>
                    <p>Enter Your Wallete Address</p>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <input type="text" placeholder="Enter Your Wallete Address" class="custom-input w-100">
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <div class="t">
                        <a href="http://www.pageqrcode.com" target="_blank">
                            <img src="http://image.pageqrcode.com/qr?color=000000&size=4" alt="QR Code" />
                        </a>
                    </div>
                </div>
                <div class="note">
                    <p>* your payment will be completed once it is confirmed by the network.conformation time can vary and depends
                        on fee paid.</p>
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-common">Deposit your payment</button>
            </div>

        </div>


    </div>

</div>