<div class="faq">
    <div class="row">
        <div class=" faq-parallax">
            <!-- Section FAQs -->
            <div class="container">
                <div class="row">
                    <div class=" header ">
                        <h1>
                            <span class="questions ">QUESTIONS?</span>
                            LOOK HERE
                        </h1>
                        <p class="text-center ">BetKoin is a transparent, profit sharing, smart contract based sports betting platform and online
                            casino
                        </p>
                    </div>
                </div>

                <div class="row faqinfo ">
                    <div class="col-md-4 col-xs-5">
                        <ul class="nav nav-pills">
                            <li class="active hvr-grow">
                                <a data-toggle="pill" href="#tab1" class="custom-pills">
                                    <h5>GENERAL</h5>
                                    <p>New around here? Start with the basics</p>
                                </a>
                            </li>
                            <li class="hvr-grow">
                                <a data-toggle="pill" href="#tab2" class="custom-pills">
                                    <h5>FEATURES</h5>
                                    <p>Dive deeper into BetKoin's features</p>
                                </a>
                            </li>
                            <li class="hvr-grow">
                                <a data-toggle="pill" href="#tab3" class="custom-pills">
                                    <h5>CROWDSALE</h5>
                                    <p>Information regarding our Initial Coin Offering (ICO)</p>
                                </a>
                            </li>
                            <li class="hvr-grow">
                                <a data-toggle="pill" href="#tab4" class="custom-pills">
                                    <h5>PLATFORM</h5>
                                    <p>Short and long term goals of our platform</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-8 col-xs-7">
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane fade in active">
                                <div class="selected-topic">
                                    <h3>General</h3>
                                    <h5>New around here? Start with the basics</h5>
                                    <hr class="divider">
                                    <div class="questions">
                                        <div class="q">
                                            <div>
                                                <p class="question">+ What is BetKoin?</p>
                                                <hr class="divider">
                                                <p class="answer">BetKoin is a transparent and verifiable sports betting and gambling platform
                                                    hosted on Smart Contracts in the Ethereum blockchain. BetKoin allows
                                                    anyone to buy into houses on the platform and receive returns based on
                                                    profits obtained during operations for each quarter.</p>
                                            </div>
                                        </div>
                                        <div class="q">
                                            <div>
                                                <p class="question">+ What games are offered on the platform?</p>
                                                <hr class="divider">
                                                <p class="answer">BetKoin will launch with slots and sports betting as it's initial offering.
                                                    BetKoin will constantly release other games as part of the platform in
                                                    the future, such as cryptocurrency price betting, craps, roulette and
                                                    more. Have a look at our roadmap for more information on our future plans.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="q">
                                            <div>
                                                <p class="question">+ How do I place bets on the platform?</p>
                                                <hr class="divider">
                                                <p class="answer">Any transaction on the BetKoin platform requires to use our ERC-20 standard
                                                    token - DBET. DBETs can be used to place bets on any active games that
                                                    have been pushed into the BetKoin contract.</p>
                                            </div>
                                        </div>
                                        <div class="q">
                                            <div>
                                                <p class="question">+ What are the fees for placing bets?</p>
                                                <hr class="divider">
                                                <p class="answer">There are no fees for placing bets apart from Ethereum's gas fees.</p>
                                            </div>
                                        </div>
                                        <div class="q">
                                            <div>
                                                <p class="question">+ Who provides betting lines and game outcomes?</p>
                                                <hr class="divider">
                                                <p class="answer">All betting lines and game outcomes will be provided by the houses on BetKoin.
                                                    To start with - BetKoin will provide a single house that'll be run and
                                                    managed by the platform. All lines &amp; active game outcomes will be
                                                    pushed in by BetKoin. In the future, with white labeled houses, other
                                                    interested betting companies will be able to setup their own managed
                                                    houses within the platform.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="q">
                                            <div>
                                                <p class="question">+ Can I bet using Ether?</p>
                                                <hr class="divider">
                                                <p class="answer">All transactions on the BetKoin platform requires DBETs to be used. They
                                                    could be bought using Ether from any of our partner exchanges.</p>
                                            </div>
                                        </div>
                                        <div class="q">
                                            <div>
                                                <p class="question">+ How can I trust the house when it comes to game outcomes?</p>
                                                <hr class="divider">
                                                <p class="answer">All sports bet outcomes pushed into the contract will be publicly visible
                                                    on the blockchain. Outcomes can be viewed to ensure all results that
                                                    are pushed are accurate. We do not have plans for a consensus mechanism
                                                    to decentralize this portion of the platform since it is a complex problem
                                                    that is being tackled by multiple platforms right now - still without
                                                    a stable release. The platform will however, host multiple centralized
                                                    oracles through white labeled houses, which would increase the betting
                                                    operator choices for every user. If any result turns out to be wrong
                                                    on the platform, they can be contested and if successful, outcomes could
                                                    be rolled back.</p>
                                            </div>
                                        </div>
                                        <div class="q">
                                            <div>
                                                <p class="question">+ What advantages does BetKoin offer over other centralized/decentralized
                                                    sports betting platforms?</p>
                                                <hr class="divider">
                                                <p class="answer">BetKoin offers users the opportunity to invest in the house to generate returns
                                                    without needing to perform any additional actions. BetKoin is also the
                                                    first platform to offer sports betting that is verifiable on a blockchain.
                                                    DBETs - our ERC-20 standard tokens - are also designed to increase in
                                                    value over time with the introduction of White Label solutions and custom
                                                    houses in the future opening doors to multiple options to re-invest DBETs
                                                    in within the BetKoin platform.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab2" class="tab-pane fade">
                                <h3>Menu 1</h3>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                </p>
                            </div>
                            <div id="tab3" class="tab-pane fade">
                                <h3>Menu 2</h3>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                    totam rem aperiam.</p>
                            </div>
                            <div id="tab4" class="tab-pane fade">
                                <h3>Menu 3</h3>
                                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>