<div class="faq">
    <div class=" faq-parallax">
        <!-- Section FAQs -->
        <div class="container">
            <div class="header">
                <h2 class="text-center">
                    <span class="questions">QUESTIONS?</span>
                    LOOK HERE
                </h2>
                <p class="text-center">BetKoin is a transparent, profit sharing, smart contract based sports betting platform and online casino
                </p>
            </div>
            <div class="row faqinfo">
                <!-- <div class="col-md-4 col-xs-5">
                    <ul class="nav nav-pills"> -->
                <!-- <li class="active hvr-grow">
                            <a data-toggle="pill" href="#tab1" class="custom-pills">
                                <h4>GENERAL</h4>
                                <p>New around here? Start with the basics</p>
                            </a>
                        </li>
                        <li class="hvr-grow">
                            <a data-toggle="pill" href="#tab2" class="custom-pills">
                                <h4>FEATURES</h4>
                                <p>Dive deeper into BetKoin's features</p>
                            </a>
                        </li> -->
                <!-- <li class="hvr-grow">
                            <a data-toggle="pill" href="#tab3" class="custom-pills">
                                <h4>CROWDSALE</h4>
                                <p>Information regarding our Initial Coin Offering (ICO)</p>
                            </a>
                        </li> -->
                <!-- <li class="hvr-grow">
                            <a data-toggle="pill" href="#tab4" class="custom-pills">
                                <h4>PLATFORM</h4>
                                <p>Short and long term goals of our platform</p>
                            </a>
                        </li> -->
                <!-- </ul>
                </div> -->

                <div class="col-md-12 col-xs-12">
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="text-center">
                                <h2 class="color-yellow">Betkoin
                                    <span class="color-white">Information</span>
                                </h2>
                                <div class="bet-info">
                                    <h4>Contract Address :
                                        <span class="color-yellow">
                                            0x062Ccb0773eF821a73E46CD4B329fBe5568eb47C</span>
                                    </h4>
                                    <h4>Token Name :
                                        <span class="color-yellow">
                                            Betkoin</span>
                                    </h4>
                                    <h4>Decimal Points :
                                        <span class="color-yellow">
                                            18</span>
                                    </h4>
                                    <h4>Ticker Symbol :
                                        <span class="color-yellow">
                                            BTK</span>
                                    </h4>
                                    <h4>No Of Supply :
                                        <span class="color-yellow">
                                            10000000000</span>
                                    </h4>
                                </div>

                            </div>

                            <div class="selected-topic">
                                <h3 class="text-center">General</h3>
                                <h4 class="text-center">New around here? Start with the basics</h4>
                                <hr class="divider">
                                <div class="questions">
                                    <div class="q">
                                        <div>
                                            <p class="question">+ What is BetKoin?</p>
                                            <hr class="divider">
                                            <p class="answer">BetKoin is a transparent and verifiable sports betting and gambling platform
                                                hosted on Smart Contracts in the Ethereum blockchain. Betkoin is a form of
                                                digital online money using blockchain technology that can be easily transferred
                                                all around the world in a blink of an eye with nearly non-existent transaction
                                                fees with market leading security & privacy. </p>
                                        </div>
                                    </div>
                                    <div class="q">
                                        <div>
                                            <p class="question">+ What games are offered on the platform?</p>
                                            <hr class="divider">
                                            <p class="answer">BetKoin will launch with TeenPatti, Poker ,Roulette etc and Sports Betting as
                                                it's initial offering. BetKoin will constantly release other games as part
                                                of the platform in the future.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="q">
                                        <div>
                                            <p class="question">+ How do I place bets on the platform?</p>
                                            <hr class="divider">
                                            <p class="answer">Any transaction on the BetKoin platform requires to use our ERC-20 standard token
                                                - BetKoins can be used to place bets on any active games that have been pushed
                                                into the BetKoin contract.</p>
                                        </div>
                                    </div>
                                    <div class="q">
                                        <div>
                                            <p class="question">+ What are the fees for placing bets?</p>
                                            <hr class="divider">
                                            <p class="answer">There are no fees for placing bets apart from Ethereum's gas fees.Just deposit
                                                the money and start playing.</p>
                                        </div>
                                    </div>
                                    <div class="q">
                                        <div>
                                            <p class="question">+ Who provides betting lines and game outcomes?</p>
                                            <hr class="divider">
                                            <p class="answer">All betting lines and game outcomes will be provided by the houses on BetKoin.
                                                To start with - BetKoin will provide a single house that'll be run and managed
                                                by the platform. All lines &amp; active game outcomes will be pushed in by
                                                BetKoin. In the future, with white labeled houses, other interested betting
                                                companies will be able to setup their own managed houses within the platform.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="q">
                                        <div>
                                            <p class="question">+ Can I bet using Ether?</p>
                                            <hr class="divider">
                                            <p class="answer">All transactions on the BetKoin platform requires BetKoins to be used. They could
                                                be bought using Ether from any of our partner exchanges.</p>
                                        </div>
                                    </div>
                                    <div class="q">
                                        <div>
                                            <p class="question">+ How can I trust the house when it comes to game outcomes?</p>
                                            <hr class="divider">
                                            <p class="answer">All sports bet outcomes pushed into the contract will be publicly visible on
                                                the blockchain. Outcomes can be viewed to ensure all results that are pushed
                                                are accurate. We do not have plans for a consensus mechanism to BetKoinralize
                                                this portion of the platform since it is a complex problem that is being
                                                tackled by multiple platforms right now - still without a stable release.
                                                The platform will however, host multiple centralized oracles through white
                                                labeled houses, which would increase the betting operator choices for every
                                                user. If any result turns out to be wrong on the platform, they can be contested
                                                and if successful, outcomes could be rolled back.</p>
                                        </div>
                                    </div>
                                    <div class="q">
                                        <div>
                                            <p class="question">+ What advantages does BetKoin offer over other centralized/BetKoinralized sports
                                                betting platforms?</p>
                                            <hr class="divider">
                                            <p class="answer">BetKoin offers users the opportunity to invest in the house to generate returns
                                                without needing to perform any additional actions. BetKoin is also the first
                                                platform to offer sports betting that is verifiable on a blockchain. BetKoins
                                                - our ERC-20 standard tokens - are also designed to increase in value over
                                                time with the introduction of White Label solutions and custom houses in
                                                the future opening doors to multiple options to re-invest BetKoins in within
                                                the BetKoin platform.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab-pane fade">
                            <div class="selected-topic">
                                <h3>FEATURES</h3>
                                <h4>Dive deeper into BetKoin's features</h4>
                                <hr class="divider">
                                <div class="questions">
                                    <div class="q">
                                        <div>
                                            <p class="question">+ HOW DO I "BECOME THE HOUSE"?</p>
                                            <hr class="divider">
                                            <p class="answer">Users can become the house by using BetKoins to purchase shares into the house
                                                at the beginning of every quarter. One week prior to the end of every quarter
                                                users will be allowed to buy-in shares for the next quarter or opt to roll
                                                over their current shares to the next quarter. All shares are entitled to
                                                quarterly profits distributed to all shareholders within the platform.</p>
                                        </div>
                                    </div>
                                    <div class="q">
                                        <div>
                                            <p class="question">+ IS IT POSSIBLE TO LIQUIDATE SHARES DURING A QUARTER?</p>
                                            <hr class="divider">
                                            <p class="answer">Shares can be sold on the "Share Exchange" within the platform. Shares can be
                                                sold anytime during the quarter for any pre-determined amount to other users
                                                for BetKoins or Ether.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="q">
                                        <div>
                                            <p class="question">+ HOW DO I RECEIVE PAYOUTS FOR MY SHARES?</p>
                                            <hr class="divider">
                                            <p class="answer">Shares can be exchanged for your split of the profits from the distribution at
                                                the end of every quarter.</p>
                                        </div>
                                    </div>
                                    <div class="q">
                                        <div>
                                            <p class="question">+ HOW MUCH CAN I EXPECT IN TERMS OF RETURNS AT THE END OF EVERY QUARTER?</p>
                                            <hr class="divider">
                                            <p class="answer">Returns depend on profitability of the house within the quarter and the percentage
                                                of shares held by each user. The higher the percentage share and profitability,
                                                the higher the returns for a user.</p>
                                        </div>
                                    </div>
                                    <div class="q">
                                        <div>
                                            <p class="question">+ HOW DO I PARTICIPATE IN THE QUARTERLY LOTTERY?</p>
                                            <hr class="divider">
                                            <p class="answer">All shareholders in the BetKoin house with a minimum of 1000 shares are automatically
                                                entered into the quarterly lottery.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="q">
                                        <div>
                                            <p class="question">+ HOW DO I CREATE MY OWN HOUSE?</p>
                                            <hr class="divider">
                                            <p class="answer">White label solutions and custom houses will be rolled out eventually.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="q">
                                        <div>
                                            <p class="question">+ DOES BetKoin USE MASTERNODES?</p>
                                            <hr class="divider">
                                            <p class="answer">No, BetKoin believes profit potential is greatly enhanced by offering the public
                                                an opportunity to be the house.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div id="tab3" class="tab-pane fade">
                            <div class="selected-topic">
                                <h3>CROWDSALE</h3>
                                <h4>Information regarding our Initial Coin Offering (ICO)</h4>
                                <hr class="divider">
                                <div class="questions">
                                    <div class="q">
                                        <div>
                                            <p class="question">+ WHAT ARE THE TOKENS THAT WILL BE ISSUED DURING THE ICO?</p>
                                            <hr class="divider">
                                            <p class="answer">Our ERC20 standard tokens - BetKoins - will be distributed throughout the period
                                                of the ICO. BetKoins will be used for all transactions on the BetKoin platform.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="q">
                                        <div>
                                            <p class="question">+ HOW WILL ICO FUNDS BE USED/DISTRIBUTED?</p>
                                            <hr class="divider">
                                            <p class="answer">BetKoin will be distributing 250M BetKoins during the ICO. This will represent
                                                70% of the total supply of BetKoins. BetKoins will be minted at the end of
                                                the ICO to account for Initial House Funds (10%), Founder's supply (18%)
                                                and Bounties (2%). The Ether raised during the ICO will be distributed as
                                                follows - 40% Development, 15% Legal, 25% Marketing, 20% Operations.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="q">
                                        <div>
                                            <p class="question">+ HOW DO I OBTAIN BetKoinS?</p>
                                            <hr class="divider">
                                            <p class="answer">BetKoins can be initially obtained through our ICO using Ether. After our ICO,
                                                they can be obtained from partner exchanges and from winning bets/games,
                                                house shares and lotteries on the platform.</p>
                                        </div>
                                    </div>
                                    <div class="q">
                                        <div>
                                            <p class="question">+ WHICH EXCHANGES WILL BetKoinS BE LISTED ON?</p>
                                            <hr class="divider">
                                            <p class="answer">We are working on listing BetKoins on major exchanges. We will announce exchange
                                                listings as they are confirmed. Watch our social channels and this section
                                                for announcements.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div id="tab4" class="tab-pane fade">
                            <div class="selected-topic">
                                <h3>PLATFORM</h3>
                                <h4>Short and long term goals of our platform</h4>
                                <hr class="divider">
                                <div class="questions">
                                    <div class="q">
                                        <div>
                                            <p class="question">+ ARE THERE ANY GAMBLING GAMES AS PART OF THE PLATFORM?</p>
                                            <hr class="divider">
                                            <p class="answer">Slots will be the first game on the BetKoin platform. Games like Craps, Roulette
                                                etc. will be added over time. Have a look at our roadmap for more information.</p>
                                        </div>
                                    </div>
                                    <div class="q">
                                        <div>
                                            <p class="question">+ WHAT IS BetKoin?</p>
                                            <hr class="divider">
                                            <p class="answer">BetKoin is a charitable initiative from BetKoin. 10% of profits generated from
                                                the founder's share (not exceeding $50,000) in the house for each quarter
                                                will be donated to selected charitable causes. Of course, all donations will
                                                be recorded on the blockchain for public verification.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="q">
                                        <div>
                                            <p class="question">+ HOW DOES WHITE LABELLING WORK?</p>
                                            <hr class="divider">
                                            <p class="answer">White labelling allows outside companies/providers to leverage our technology
                                                and implement their betting lines/game outcomes within the BetKoin platform,
                                                allowing them to make use of the blockchain for their platforms. White label
                                                solutions will require a minimum deposit to be held by companies along with
                                                bidding on houses and a shareholder vote to make sure they comply with all
                                                legal requirements and are vetted by shareholders on the platform.</p>
                                        </div>
                                    </div>
                                    <div class="q">
                                        <div>
                                            <p class="question">+ WHAT IS THE OVERALL GOAL/VISION BEHIND THE PLATFORM?</p>
                                            <hr class="divider">
                                            <p class="answer">To allow anyone to be Vegas from the comfort of their living rooms.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>