<div class="games-modal game-football">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss();clearData()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" id="modal-body">
        <div>
            <h1 class="text-center">Football</h1>
            <hr>
            <p class="text-center">Sports betting is a billion dollar industry, and football is the most popular sports in the world to bet on.
                We offer great value and great odds to bet on! For Football, such kinds of Bet Markets are available:</p>
            <ul>
                <li>Match Odds</li>
                <li>Over/ Under Goals</li>
                <li>To Qualify</li>
            </ul>
        </div>
    </div>
</div>