<div class="home">
    <div class="why section">
        <div class="container ">
            <div class="text-center text-uppercase heading-yellow wow flipInX">
                <h2>How to get Started?</h2>
                <hr>
            </div>
            <div class="row points row-eq-height">
                <div class="col-md-6 col-xs-12 row-eq-height">
                    <div class=" bg-platform">
                        <div class=" wow flipInY" data-wow-duration="0.8s">

                            <div class="platform">
                                <h3 class="title">Transparency</h3>
                                <p class="info text-left">
                                    Being hosted on smart contracts on the Ethereum Blockchain, users can look through our contract source code as well as track
                                    any transaction made on the contract to ensure
                                    <span class="logo-text"> BetKoin</span>
                                    stays fair and relies on accurate game outcomes and does not act maliciously.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 row-eq-height">
                    <div class=" bg-platform">
                        <div class=" wow flipInY" data-wow-delay="0.25s" data-wow-duration="0.8s">

                            <div class="platform">
                                <h3 class="title">Highest security technology</h3>
                                <p class="info text-left">
                                    Use of blockchain technology and constant improvements. Blockchain is designed to resist data changes. The information in
                                    the blockchain cannot be changed.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row points row-eq-height ">
                <div class="col-md-6 col-xs-12 row-eq-height">
                    <div class=" bg-platform">
                        <div class=" wow flipInY" data-wow-delay="0.35s" data-wow-duration="0.8s">

                            <div class="platform ">
                                <h3 class="title">Accessibility</h3>

                                <p class="info">
                                    Since
                                    <span class="logo-text">BetKoin</span> is almost non-existent by the exchange rates, interest rates, transactions
                                    charges or other charges of any country; therefore it can be used at an international
                                    level without experiencing any problems. This, in turn, saves lots of time as well as
                                    money which is otherwise spent in transferring money from one country to the other. Betkoin
                                    operates at the universal level and hence makes transactions quite easy.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 row-eq-height ">
                    <div class=" bg-platform">
                        <div class=" wow flipInY" data-wow-delay="0.45s" data-wow-duration="0.8s">

                            <div class="platform ">
                                <h3 class="title">Highest speed with lowest cost</h3>
                                <p class="info text-left">
                                    Instant, on-demand settlement. Low operational and liquidity costs of all the nodes in the system.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>