<div class="home">
    <div class="why section">
        <div class="container ">
            <div class="text-center text-uppercase heading-yellow wow flipInX">
                <h2>How to get Started?</h2>
                <hr>
                <p>New to Betkoin? Here’s the summary to its uses and how to get started!
                </p>
            </div>
            <div class="row points row-eq-height">
                <div class="col-md-6 col-xs-12 row-eq-height mob-margin">
                    <div class=" bg-platform">
                        <div class=" wow flipInY" data-wow-duration="0.8s">

                            <div class="platform">
                                <h3 class="title">1. Sign up & Login</h3>
                                <p class="info text-left">
                                    To make an entry to our gaming portal, which provides gambling games, player must first signup to get a username and password.
                                    Click on the above signup/login tab to get started.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 row-eq-height">
                    <div class=" bg-platform">
                        <div class=" wow flipInY" data-wow-delay="0.25s" data-wow-duration="0.8s">

                            <div class="platform">
                                <h3 class="title">2. Deposit</h3>
                                <p class=" text-left">
                                    To deposit money follow either of the suitable steps :

                                </p>
                                <ul class="info pad0">
                                    <li>If you have cash and want to purchase betkoins, then contact on 1234567890. You will
                                        be able to get betkoins offline.</li>
                                    <li>If you have any other cryptocurrency i.e. bitcoin or ethereum then you can convert those
                                        currencies to betkoins through our website itself.
                                    </li>
                                    <li>Or you can directly purchase betkoins on the exchange sites like
                                        <a href="https://hitbtc.com/?ref_id=5a6ba5a0320c6" class="heading-yellow">HitBTC</a>,
                                        <a href="https://www.coinex.com/" class="heading-yellow">CoinEx</a>,
                                        <a href="https://1ol.co/10l.co/1/?=https://www.binance.com/" class="heading-yellow">Binance.</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row points row-eq-height ">
                <div class="col-md-6 col-xs-12 row-eq-height mob-margin">
                    <div class=" bg-platform">
                        <div class=" wow flipInY" data-wow-delay="0.35s" data-wow-duration="0.8s">

                            <div class="platform ">
                                <h3 class="title">3. Withdraw</h3>

                                <p class="">
                                    To withdraw money you can follow these steps :



                                </p>
                                <ul class="info get-list pad0">
                                    <li>You can withdraw cash offline by contacting on this number 1234567890.
                                    </li>
                                    <li>You can also withdraw money in any other cryptocurrency by converting betkoins to bitcoin,
                                        ethereum etc through exchange sites like
                                        <a href="https://hitbtc.com/?ref_id=5a6ba5a0320c6" class="heading-yellow">HitBTC</a>,
                                        <a href="https://www.coinex.com/" class="heading-yellow">CoinEx</a>,
                                        <a href="https://1ol.co/10l.co/1/?=https://www.binance.com/" class="heading-yellow">Binance.</a>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 row-eq-height mob-margin">
                    <div class=" bg-platform">
                        <div class=" wow flipInY" data-wow-delay="0.45s" data-wow-duration="0.8s">

                            <div class="platform ">
                                <h3 class="title">4. Play</h3>
                                <p class="info text-left">
                                    Once you have received the betkoins, you can start gambling on Kings App and
                                    <a href="https://web.kingsplay.co/" target="_blank" class="heading-yellow">Web Portal</a>.

                                </p>
                                <div class="get-king">
                                    <div class="text-right ">
                                        <a role="button" class="submit-btn get-king  ">Get the Kings App</a>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>