<div class="home">

    <div class="section mb-10">
        <video width="100%" height="100%" playsinline autoplay loop muted preload="yes">
            <source src="img/video/Apple4.mp4" type="video/mp4">
        </video>
        <div class="container">
            <div class="globe-container">
                <div class="globe-text">
                    <div class="title text-left">
                        <h1>Betkoin</h1>
                    </div>
                    <h4 class="subtitle text-left"> Redefining Trust, Value and Gambling! </h4>
                    <h4 class="subtitle text-left heading-yellow">Introducing Live Casino and Sportsbook Games!</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Section Why Betkoin -->
    <div class="whytobuy section" style="padding: 1px 0 75px!important;">
        <!-- <div class="text-center text-uppercase heading-yellow wow fadeInDownBig">
            <h2>platform benefits</h2>
            <hr>
        </div> -->
        <div class="container spacing">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="heading-yellow wow fadeInLeftBig" data-wow-delay="0.25s" data-wow-duration="0.8s">
                        <h3 class="text-center text-uppercase">About Betkoin</h3>
                        <hr>
                        <p class="text-left"> The rapid rise in the number of crypto currencies has attracted a growing interest in the community.
                            With more than 1000 different crypto currencies available and more being developed everyday,
                            the crypto currency market is really booming. Potentially, the launch of Betkoin offers a solution
                            that allows online gambling to accept payments in crypto currency. Betkoin is a form of digital
                            online money using blockchain technology that can be easily transferred all around the world
                            in a blink of an eye with nearly non-existent transaction fees with market leading security &
                            privacy.
                            <br>
                            <br>
                        </p>

                    </div>
                    <div class="heading-yellow wow fadeInLeftBig" data-wow-delay="0.45s" data-wow-duration="0.8s">
                        <h3 class="text-center text-uppercase">Why to invest in Betkoin</h3>
                        <hr>
                        <div class="mt-4 pt-4">
                            <div class="text-left">
                                <p>Gross gambling worth is forecasted to go up to 36 billion pounds by 2019, thus clearly stating
                                    the noteworthy collection made from the betting and gambling business around the world.
                                    We plan to utlilize the profits made for the development of our products as well as giving
                                    benefits for our investors for a happy Betkoin family. With the introduction of a crypto
                                    currency in this huge business sector the usage will increase undoubtedly. With growing
                                    global acceptance of Betkoin for being easy to use and being safe as well as being anonymous
                                    it’s value will maximise, thus positively affecting our business worldwide. You can convert
                                    it into other crypto currency at any point of time and its totally non traceable. Hence
                                    the huge acceptance hence higher the profits. It is quite distinctly a profitable cycle
                                    that people should definitely invest in for best results. Also you can invest and start
                                    your own gambling business. For more details check out
                                    <a ui-sref="partner" class="heading-yellow">Partner With Us</a>
                                    <br>
                                    <br>
                                </p>


                            </div>
                        </div>
                    </div>
                    <div class="text-center visible-xs">
                        <a role="button" class="submit-btn get-king" ui-sref="aboutus">Know More</a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 graph-spacing wow fadeInRightBig" data-wow-delay="0.55s" data-wow-duration="0.8s">
                    <!-- <img src="img/graph.svg" class="img-full"> -->
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600.08 700"
                        style="enable-background:new 0 0 600.08 700;" xml:space="preserve">

                        <g id="bg">
                            <rect x="-0.692" class="st0" width="600" height="700" />
                            <rect y="224.341" class="st1" width="599.84" height="372.822" />
                        </g>
                        <g id="grid">
                            <g>
                                <path class="st2" d="M65.707,575.739h473.221H65.707z" />
                                <path class="st2" d="M65.707,558.097h473.918H65.707z" />
                                <path class="st2" d="M65.707,540.455h473.918H65.707z" />
                                <path class="st2" d="M65.707,522.812h473.918H65.707z" />
                                <path class="st2" d="M65.707,505.17h473.918H65.707z" />
                                <path class="st2" d="M65.707,487.528h473.918H65.707z" />
                                <path class="st2" d="M65.707,469.885h473.918H65.707z" />
                                <path class="st2" d="M65.707,452.243h473.918H65.707z" />
                                <path class="st2" d="M65.707,434.601h473.918H65.707z" />
                                <path class="st2" d="M65.707,416.958h473.918H65.707z" />
                                <path class="st2" d="M65.707,399.316h473.918H65.707z" />
                                <path class="st2" d="M65.707,381.673h473.918H65.707z" />
                                <path class="st2" d="M65.707,364.031h473.918H65.707z" />
                                <path class="st2" d="M65.707,346.389h473.918H65.707z" />
                                <path class="st2" d="M65.707,328.746h473.918H65.707z" />
                                <path class="st2" d="M65.707,311.104h473.918H65.707z" />
                                <path class="st2" d="M65.522,310.672V575.58V310.672z" />
                                <path class="st2" d="M83.056,310.672V575.58V310.672z" />
                                <path class="st2" d="M100.589,310.672V575.58V310.672z" />
                                <path class="st2" d="M118.123,310.672V575.58V310.672z" />
                                <path class="st2" d="M135.656,310.672V575.58V310.672z" />
                                <path class="st2" d="M153.19,310.672V575.58V310.672z" />
                                <path class="st2" d="M170.723,310.672V575.58V310.672z" />
                                <path class="st2" d="M188.257,310.672V575.58V310.672z" />
                                <path class="st2" d="M205.791,310.672V575.58V310.672z" />
                                <path class="st2" d="M223.324,310.672V575.58V310.672z" />
                                <path class="st2" d="M240.858,310.672V575.58V310.672z" />
                                <path class="st2" d="M258.391,310.672V575.58V310.672z" />
                                <path class="st2" d="M275.925,310.672V575.58V310.672z" />
                                <path class="st2" d="M293.459,310.672V575.58V310.672z" />
                                <path class="st2" d="M310.992,310.672V575.58V310.672z" />
                                <path class="st2" d="M328.526,310.672V575.58V310.672z" />
                                <path class="st2" d="M346.059,310.672V575.58V310.672z" />
                                <path class="st2" d="M363.593,310.672V575.58V310.672z" />
                                <path class="st2" d="M381.127,310.672V575.58V310.672z" />
                                <path class="st2" d="M398.66,310.672V575.58V310.672z" />
                                <path class="st2" d="M416.194,310.672V575.58V310.672z" />
                                <path class="st2" d="M433.727,310.672V575.58V310.672z" />
                                <path class="st2" d="M451.261,310.672V575.58V310.672z" />
                                <path class="st2" d="M468.795,310.672V575.58V310.672z" />
                                <path class="st2" d="M486.328,310.672V575.58V310.672z" />
                                <path class="st2" d="M503.862,310.672V575.58V310.672z" />
                                <path class="st2" d="M521.328,310.672V575.58V310.672z" />
                                <path class="st2" d="M538.862,310.672V575.58V310.672z" />
                            </g>
                        </g>
                        <g id="Lines">
                            <polyline class="st3" points="65.228,246.083 65.228,576.059 539.089,576.059 539.089,246 " />
                            <!-- <text transform="matrix(1 0 0 1 22.272 560.0713)" class="st4 st5 st6">2000</text> -->
                            <text transform="matrix(1 0 0 1 22.272 533.8525)" class="st4 st5 st6">5000</text>
                            <text transform="matrix(1 0 0 1 15.0898 489.7285)" class="st4 st5 st6">10000</text>
                            <text transform="matrix(1 0 0 1 15.0898 445.6035)" class="st4 st5 st6">15000</text>
                            <text transform="matrix(1 0 0 1 15.0898 401.4785)" class="st4 st5 st6">20000</text>
                            <text transform="matrix(1 0 0 1 15.0898 357.3535)" class="st4 st5 st6">25000</text>
                            <!-- <text transform="matrix(1 0 0 1 545 570.9434)" class="st7 st5 st6">£10000</text> -->
                            <text transform="matrix(1 0 0 1 545 534.4922)" class="st7 st5 st6">£50000</text>
                            <text transform="matrix(1 0 0 1 545 489.7285)" class="st7 st5 st6">£100000</text>
                            <text transform="matrix(1 0 0 1 545 445.6035)" class="st7 st5 st6">£150000</text>
                            <text transform="matrix(1 0 0 1 545 402.1182)" class="st7 st5 st6">£200000</text>
                            <text transform="matrix(1 0 0 1 545 360)" class="st7 st5 st6">£250000</text>
                            <text transform="matrix(1 0 0 1 545 314.5078)" class="st7 st5 st6">£300000</text>
                            <line class="st8" x1="535" y1="487.81" x2="543" y2="487.81" />
                            <line class="st8" x1="535" y1="399.56" x2="543" y2="399.56" />
                            <line class="st8" x1="535" y1="311.311" x2="543" y2="311.311" />
                            <line class="st8" x1="535" y1="531.295" x2="543" y2="531.295" />
                            <line class="st8" x1="535" y1="443" x2="543" y2="443" />
                            <line class="st8" x1="535" y1="357.3535" x2="543" y2="357.3535" />
                            <line class="st9" x1="58.673" y1="531.295" x2="65.068" y2="531.295" />
                            <line class="st9" x1="58.673" y1="487.81" x2="65.068" y2="487.81" />
                            <line class="st9" x1="58.673" y1="443.046" x2="65.068" y2="443.046" />
                            <line class="st9" x1="58.673" y1="399.56" x2="65.068" y2="399.56" />
                            <line class="st9" x1="58.673" y1="353.517" x2="65.068" y2="353.517" />
                            <text transform="matrix(1 0 0 1 136.1011 591.8496)" class="st10 st5 st6">2018</text>
                            <text transform="matrix(1 0 0 1 223.7114 591.8496)" class="st10 st5 st6">2019</text>
                            <text transform="matrix(1 0 0 1 311.3203 591.8496)" class="st10 st5 st6">2020</text>
                            <text transform="matrix(1 0 0 1 398.9307 591.8496)" class="st10 st5 st6">2021</text>
                            <text transform="matrix(1 0 0 1 486.54 591.8496)" class="st10 st5 st6">2022</text>
                        </g>
                        <g id="line1">
                            <polyline class="st11 path" points="153.637,573.181 241.247,566.787 327.578,488.129 416.467,416.507 502.798,328.897 " />
                        </g>
                        <g id="circ1">

                            <circle id="cx1" class="st4" cx="153.957" cy="573.501" r="3.197">
                                <set attributeName="visibility" from="hidden" to="visible" begin="showhide.mouseover" end="showhide.mouseout" />
                            </circle>
                            <circle id="cx2" class="st4" cx="240.927" cy="567.106" r="3.197" />
                            <circle id="cx3" class="st4" cx="328.537" cy="487.17" r="3.197" />
                            <circle id="cx4" class="st4" cx="416.787" cy="416.827" r="3.197" />
                            <circle id="cx5" class="st4" cx="503.757" cy="328.577" r="3.197" />
                        </g>
                        <g id="line2">
                            <polyline class="st12 path" points="153.317,566.787 240.927,479.496 327.898,428.977 416.147,366.946 503.757,338.809 " />
                            <rect x="165.132" y="258.873" class="st7" width="14.708" height="14.708" />
                            <rect x="313.669" y="258.873" class="st4" width="14.708" height="14.708" />
                            <text transform="matrix(1 0 0 1 190.5479 269.7441)" class="st10 st5 st6">Turnover in pounds</text>
                            <text transform="matrix(1 0 0 1 336.4434 269.7441)" class="st10 st5 st6">Number of users</text>
                        </g>
                        <g id="Text">
                            <text transform="matrix(1 0 0 1 189.8521 47.8848)" class="st13 st14 st15">Betkoin Forecast</text>
                            <rect x="45.244" y="74.477" class="st16" width="505.196" height="131.023" />
                            <text transform="matrix(1 0 0 1 45.2437 79.6367)">
                                <tspan x="0" y="0" class="st10 st17 st18">Significant increase is forecasted in the number of Betkoin users and </tspan>
                                <tspan x="0" y="25" class="st10 st17 st18">its turnover in the next few years.</tspan>
                                <tspan x="0" y="50" class="st10 st17 st18">This growth is attributable to the betting and gambling industry.</tspan>
                                <tspan x="0" y="75" class="st10 st17 st18">The casinos and gambling industry provides an appealing form of </tspan>
                                <tspan x="0" y="100" class="st10 st17 st18">entertainment and as a result many people will purchase Betkoins. </tspan>
                                <tspan x="0" y="125" class="st10 st17 st18">By 2020, the Betkoin turnover is expected to reach £15 billion.</tspan>
                            </text>


                        </g>
                        <g id="circs2">
                            <circle id="cy1" class="st7" cx="152.678" cy="566.467" r="3.197" />
                            <circle id="cy2" class="st7" cx="240.927" cy="479.496" r="3.197" />
                            <circle id="cy3" class="st7" cx="328.537" cy="428.337" r="3.197" />
                            <circle id="cy4" class="st7" cx="416.147" cy="366.946" r="3.197" />
                            <circle id="cy5" class="st7" cx="504.396" cy="338.809" r="3.197" />
                        </g>
                        <g id="Layer_8" visibility="hidden">
                            <g id="y3">
                                <path class="st19" d="M358.401,398.601h-58.654c-1.398,0-2.532,1.134-2.532,2.532v12.842c0,1.398,1.133,2.532,2.532,2.532h25.33
 l3.997,4.636l3.997-4.636h25.33c1.398,0,2.532-1.134,2.532-2.532v-12.842C360.933,399.735,359.799,398.601,358.401,398.601z"
                                />
                                <text transform="matrix(1 0 0 1 303.938 411.0703)" class="st7 st5 st6">£165000</text>
                                <set attributeName="visibility" from="hidden" to="visible" begin="cy3.mouseover" end="cy3.mouseout" />
                            </g>
                            <g id="y2">
                                <path class="st19" d="M270.401,449.601h-58.654c-1.398,0-2.532,1.134-2.532,2.532v12.842c0,1.398,1.133,2.532,2.532,2.532h25.33
 l3.997,4.636l3.997-4.636h25.33c1.398,0,2.532-1.134,2.532-2.532v-12.842C272.933,450.735,271.799,449.601,270.401,449.601z"
                                />
                                <text transform="matrix(1 0 0 1 215.938 462.0703)" class="st7 st5 st6">£110000</text>
                                <set attributeName="visibility" from="hidden" to="visible" begin="cy2.mouseover" end="cy2.mouseout" />
                            </g>
                            <g id="y1">
                                <path class="st19" d="M182.401,535.601h-58.654c-1.398,0-2.532,1.133-2.532,2.532v12.842c0,1.398,1.133,2.532,2.532,2.532h25.33
 l3.997,4.636l3.997-4.636h25.33c1.398,0,2.532-1.133,2.532-2.532v-12.842C184.933,536.735,183.799,535.601,182.401,535.601z"
                                />
                                <text transform="matrix(1 0 0 1 133.938 548.0703)" class="st7 st5 st6">£5500</text>
                                <set attributeName="visibility" from="hidden" to="visible" begin="cy1.mouseover" end="cy1.mouseout" />

                            </g>
                            <g id="y4">
                                <path class="st19" d="M445.401,336.601h-58.654c-1.398,0-2.532,1.134-2.532,2.532v12.842c0,1.398,1.133,2.532,2.532,2.532h25.33
 l3.997,4.636l3.997-4.636h25.33c1.398,0,2.532-1.134,2.532-2.532v-12.842C447.933,337.735,446.799,336.601,445.401,336.601z"
                                />
                                <text transform="matrix(1 0 0 1 390.938 349.0703)" class="st7 st5 st6">£235000</text>
                                <set attributeName="visibility" from="hidden" to="visible" begin="cy4.mouseover" end="cy4.mouseout" />
                            </g>
                            <g id="y5">
                                <path class="st19" d="M533.401,309.601h-58.654c-1.398,0-2.532,1.134-2.532,2.532v12.842c0,1.398,1.133,2.532,2.532,2.532h25.33
 l3.997,4.636l3.997-4.636h25.33c1.398,0,2.532-1.134,2.532-2.532v-12.842C535.933,310.735,534.799,309.601,533.401,309.601z"
                                />
                                <text transform="matrix(1 0 0 1 478.938 322.0703)" class="st7 st5 st6">£165000</text>
                                <set attributeName="visibility" from="hidden" to="visible" begin="cy5.mouseover" end="cy5.mouseout" />
                            </g>
                            <g id="x1_1_">
                                <path class="st20" d="M177.802,542.434h-48.654c-1.398,0-2.532,1.133-2.532,2.532v12.842c0,1.398,1.133,2.532,2.532,2.532h20.33
 l3.997,4.636l3.997-4.636h20.33c1.398,0,2.532-1.133,2.532-2.532v-12.842C180.334,543.568,179.2,542.434,177.802,542.434z"
                                />
                                <text transform="matrix(1 0 0 1 140.8849 555.9043)" class="st4 st5 st6">200</text>
                                <set attributeName="visibility" from="hidden" to="visible" begin="cx1.mouseover" end="cx1.mouseout" />
                            </g>
                            <g id="x2">
                                <path class="st20" d="M264.802,536.434h-48.654c-1.398,0-2.532,1.133-2.532,2.532v12.842c0,1.398,1.133,2.532,2.532,2.532h20.33
 l3.997,4.636l3.997-4.636h20.33c1.398,0,2.532-1.133,2.532-2.532v-12.842C267.334,537.568,266.2,536.434,264.802,536.434z"
                                />
                                <text transform="matrix(1 0 0 1 222.5207 549.9043)" class="st4 st5 st6">10000</text>
                                <set attributeName="visibility" from="hidden" to="visible" begin="cx2.mouseover" end="cx2.mouseout" />
                            </g>
                            <g id="x3">
                                <path class="st20" d="M353.007,457.434h-48.654c-1.398,0-2.532,1.133-2.532,2.532v12.842c0,1.398,1.133,2.532,2.532,2.532h20.33
 l3.997,4.636l3.997-4.636h20.33c1.398,0,2.532-1.133,2.532-2.532v-12.842C355.538,458.568,354.405,457.434,353.007,457.434z"
                                />
                                <text transform="matrix(1 0 0 1 307.1345 470.9043)" class="st4 st5 st6">100000</text>
                                <set attributeName="visibility" from="hidden" to="visible" begin="cx3.mouseover" end="cx3.mouseout" />
                            </g>
                            <g id="x4">
                                <path class="st20" d="M440.802,386.434h-48.654c-1.398,0-2.532,1.133-2.532,2.532v12.842c0,1.398,1.133,2.532,2.532,2.532h20.33
 l3.997,4.636l3.997-4.636h20.33c1.398,0,2.532-1.133,2.532-2.532v-12.842C443.334,387.568,442.2,386.434,440.802,386.434z"
                                />
                                <text transform="matrix(1 0 0 1 394.339 399.9043)" class="st4 st5 st6">180000</text>
                                <set attributeName="visibility" from="hidden" to="visible" begin="cx4.mouseover" end="cx4.mouseout" />
                            </g>
                            <g id="x5">
                                <path class="st20" d="M527.802,296.434h-48.654c-1.398,0-2.532,1.133-2.532,2.532v12.842c0,1.398,1.133,2.532,2.532,2.532h20.33
 l3.997,4.636l3.997-4.636h20.33c1.398,0,2.532-1.133,2.532-2.532v-12.842C530.334,297.568,529.2,296.434,527.802,296.434z"
                                />
                                <text transform="matrix(1 0 0 1 482.339 309.9043)" class="st4 st5 st6">290000</text>
                                <set attributeName="visibility" from="hidden" to="visible" begin="cx5.mouseover" end="cx5.mouseout" />
                            </g>
                        </g>
                    </svg>
                </div>

            </div>
            <div class="text-center hidden-xs">
                <a role="button" class="submit-btn get-king" ui-sref="aboutus">Know More</a>
            </div>
        </div>
    </div>

    <!-- Section Platform Benefits -->
    <div class="why section">
        <div class="container ">
            <div class="text-center text-uppercase heading-yellow wow flipInX">
                <h2>platform benefits</h2>
                <hr>
            </div>
            <div class="row points row-eq-height">
                <div class="col-md-6 col-xs-12 row-eq-height">
                    <div class="row bg-platform ">
                        <div class="mar15 wow flipInY" data-wow-duration="0.8s">
                            <div class="col-md-2 col-xs-2">
                                <img class="icon" src="img/pb1.png ">
                            </div>
                            <div class="col-md-9 col-xs-10">
                                <h3 class="title">Transparency</h3>
                                <p class="info text-left">
                                    Being hosted on smart contracts on the Ethereum Blockchain, users can look through our contract source code as well as track
                                    any transaction made on the contract to ensure
                                    <span class="logo-text"> Betkoin</span>
                                    stays fair and relies on accurate game outcomes and does not act maliciously.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 row-eq-height ">
                    <div class="row bg-platform mt-40 ">
                        <div class="mar15 wow flipInY" data-wow-delay="0.45s" data-wow-duration="0.8s">
                            <div class="col-md-2 col-xs-2">
                                <img class="icon" src="img/pb4.png ">
                            </div>
                            <div class="col-md-9 col-xs-10">
                                <h3 class="title">Highest speed with lowest cost</h3>
                                <p class="info text-left">
                                    Instant, on-demand settlement.
                                    <br> Low operational and liquidity costs of all the nodes in the system.Transactions will
                                    get confirmed within 5 to 10 minutes within any part of the world.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row points row-eq-height ">
                <div class="col-md-6 col-xs-12 row-eq-height">
                    <div class="row bg-platform">
                        <div class="mar15 wow flipInY" data-wow-delay="0.35s" data-wow-duration="0.8s">
                            <div class="col-md-2 col-xs-2">
                                <img class="icon" src="img/pb3.png ">
                            </div>
                            <div class="col-md-9 col-xs-10">
                                <h3 class="title">Accessibility</h3>

                                <p class="info">
                                    Since
                                    <span class="logo-text">Betkoin</span> is almost non-existent by the exchange rates, interest rates, transactions
                                    charges or other charges of any country; therefore it can be used at an international
                                    level without experiencing any problems. This, in turn, saves lots of time as well as
                                    money which is otherwise spent in transferring money from one country to the other. Betkoin
                                    operates at the universal level and hence makes transactions quite easy.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 row-eq-height">
                    <div class="row bg-platform mt-40">
                        <div class="mar15 wow flipInY" data-wow-delay="0.25s" data-wow-duration="0.8s">
                            <div class="col-md-2 col-xs-2">
                                <img class="icon" src="img/pb2.png ">
                            </div>
                            <div class="col-md-9 col-xs-10">
                                <h3 class="title">Privacy and security</h3>
                                <p class="info text-left">
                                    Betkoin is the ultimate privacy crypto. The key tenet of Betkoin is its superior privacy. Betkoin has a great level of anonymity
                                    which requires the user keeping their public address anonymous. Betkoin achieves a level
                                    of privacy by limiting access to info to the parties involved. All transactions are completely
                                    secured. The player does not have to reveal its identity while gambling. Blockchain is
                                    designed to resist data changes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section Games -->
    <div class="games section">
        <div class="text-center text-uppercase heading-yellow wow slideInDown">
            <h2>games on offer</h2>
            <hr>
        </div>
        <div class="container mt4 wow fadeIn">
            <uib-tabset class="games-tabs" type="pills" justified="true">
                <uib-tab index="0" heading="CASINO">
                    <div class="next">
                        <img src="img/next.png">
                    </div>
                    <div class="prev">
                        <img src="img/prev.png">
                    </div>
                    <div class="relative home-swiper-overlay">
                        <div class="swiper-container ">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide games-card" style="background-image:url({{s.img}});" ng-repeat="s in gameData">
                                    <div class="offer-game">
                                        <h5 class="text-center">{{s.title}}</h5>
                                        <div class="swiper-overlay">
                                            <div class="d-table">
                                                <div class="d-cell text-center">
                                                    <h4 class="text-center heading-yellow">{{s.title}}</h4>
                                                    <hr>
                                                    <p class="text-justify" ng-bind-html="s.description">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
            <uib-tabset type="pills" justified="true" class="games-tabs">
                <uib-tab index="1" heading="SPORTS BOOK" ng-click="createswiper()">
                    <div class="next2">
                        <img src="img/next.png">
                    </div>
                    <div class="prev2">
                        <img src="img/prev.png">
                    </div>
                    <div class="relative">
                        <div class="swiper-container2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide games-card pointer" style="background-image:url({{s.img}});" ng-repeat="s in sportData">
                                    <div class="offer-game">
                                        <h5 class="text-center">{{s.title}}</h5>
                                        <div class="swiper-overlay">
                                            <div class="d-table">
                                                <div class="d-cell text-center">
                                                    <h4 class="text-center heading-yellow">{{s.title}}</h4>
                                                    <hr>
                                                    <p class="text-justify" ng-bind-html="s.description">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>

    <!-- Section Where To Buy -->
    <!-- <div class="wheretobuy section">
        <div class="text-center text-uppercase heading-yellow">
            <h2>Where to buy
                <span>BetKoins</span>
            </h2>
            <hr>
        </div>
        <div class="mt4">
            <div class="mt-4 pt-4 text-center icons">
                <a href="#" title="Etherdelta" class="d-inline-block mb-4 wow bounce">
                    <img src="img/buy1.png">
                </a>
                <a href="#" title="Cryptopia" class="d-inline-block wow bounce">
                    <img src="img/buy2.png">
                </a>
            </div>
            <div class="mt-4 pt-4 text-center icons">
                <a href="#" title="Etherdelta" class="d-inline-block mb-4 wow bounce">
                    <img src="img/buy3.png ">
                </a>
                <a href="#" title="Cryptopia" class="d-inline-block wow bounce">
                    <img src="img/buy4.png">
                </a>
            </div>
        </div>
    </div> -->
</div>