<!-- <div class="container">
    <a class="btn btn-default" ng-click="buttonClick()">Demo Button</a>
    <flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
        <li>
            <img ng-src="{{s}}" class="img-full">
        </li>
    </flex-slider>
    <swiper autoplay="5000" effect="slide" slides-per-view="1" loop="true">
        <slides>
            <slide ng-repeat="s in mySlides">
                <img ng-src="{{s}}" class="img-full" noloading="true">
            </slide>
        </slides>
        <prev></prev>
        <next></next>
        <pagination></pagination>
    </swiper>
    <div class="row">               
        <div class="col-md-2" ng-repeat="s in mySlides">
            <a ng-href="{{s}}" data-fancybox="group" rel="gallary" fancybox>
                <img ng-src="{{s}}" class="img-full">
            </a>
        </div>
        <div class="col-md-2">
            <a class="various" data-fancybox="group" rel="gallary" href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1" fancybox><img ng-src="http://img.youtube.com/vi/L9szn1QQfas/maxresdefault.jpg" class="img-full"></a>
        </div>
        <div class="col-md-2">
            <a class="various" data-fancybox="group" rel="gallary" href="https://vimeo.com/191947042" class="img-full"></a>
        </div>
    </div>
</div> -->

<div class="">
    <!-- Social Media -->
    <div class="socialmedia">
        <div class="wow flipInX" data-wow-duration="1s" data-wow-delay="1s">
            <a href="#">
                <img src="img/facebook.png">
            </a>
        </div>
        <div class="wow flipInX" data-wow-duration="1s" data-wow-delay="1.4s">
            <a href="#">
                <img src="img/twitter.png">
            </a>
        </div>
        <div class="wow flipInX" data-wow-duration="1s" data-wow-delay="1.8s">
            <a href="#">
                <img src="img/instagram.png">
            </a>
        </div>
    </div>

    <!-- Section Cover -->
    <div class="section-cover">
        <div class="parallax">
            <div class="globe-container">
                <img class="wdh" src="img/newglobe.gif">
            </div>
            <div class="globe-text">
                <p class="title text-left">
                    <strong>BetKoin&nbsp;</strong>
                </p>
                <p class="subtitle text-right heading-yellow">Gambling world at your doorstep!
                    <br>Targetting 495 Billion USD Gambling Industry</p>
            </div>

        </div>
    </div>

    <!-- Section Why Betkoin -->
    <div class="whytobuy">
        <div class="text-center text-uppercase heading-yellow wow pulse" data-wow-duration="1s">
            <h1>Why BetKoin</h1>
            <hr>
        </div>
        <div class="container mt-4 pt-4">
            <div class="row">
                <div class="col-md-3">
                    <img src="img/coin.png" class="wdh">
                </div>
                <div class="col-md-9 text-left">
                    <p>Betkoin is the first crypto to actually have a concept and a business plan. It's a huge transformation
                        in the gambling and betting world. The widespread adoption of cryptocurrency in gambling is no more
                        a pipe dream. With Betkoin, its a reality now. This crypto is your ATM for any type of betting, be
                        it for casino games like Teen Patti, Poker or sportsbook like Horse racing, Cricket, football etc.
                        Betkoin is based on blockchain technology. Transactions are permanent with 0% chance of fraud.</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Section Why to Invest in Betkoin -->
    <div class="whytobuy">
        <div class="text-center text-uppercase heading-yellow wow pulse" data-wow-duration="1s">
            <h1>Why to invest in Betkoin</h1>
            <hr>
        </div>
        <div class="container mt-4 pt-4">
            <div class="row">
                <div class="text-center">
                    <p>In 2016, the total gambling gross yield worldwide was projected to reach 450 billion U.S. dollars. This
                        was forecasted to rise to 495 billion U.S. dollars by 2019. These stats clearly state what collection
                        is made from betting and that there will be continuously demand for Betkoin and so the price will
                        keep rising. Hence, it will be a steady and continuous growth.</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Section Platform Benefits -->
    <div class="why ">
        <div class="container ">
            <div class="text-center text-uppercase heading-yellow wow bounceInDown" data-wow-duration="1s" data-wow-delay="0.2s">
                <h1>platform benefits</h1>
                <hr>
            </div>
            <div class="row points ">
                <div class="col-md-6 col-xs-12 ">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="icon wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.4s" src="img/pb1.png ">
                        </div>
                        <div class="col-md-9">
                            <p class="title wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.4s">Transparency</p>
                            <p class="info text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.4s">
                                Being hosted on smart contracts on the Ethereum Blockchain, users can look through our contract source code as well as track
                                any transaction made on the contract to ensure
                                <span class="logo-text "> BetKoin</span>
                                stays fair and relies on accurate game outcomes and does not act maliciously.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 ">
                    <div class="row ">
                        <div class="col-md-2 ">
                            <img class="icon wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s" src="img/pb2.png ">
                        </div>
                        <div class="col-md-9 ">
                            <p class="title wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">Highest security technology</p>
                            <p class="info text-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
                                Use of blockchain technology and constant improvements. Blockchain is designed to resist data changes. The information in
                                the blockchain cannot be changed.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row points ">
                <div class="col-md-6 col-xs-12 ">
                    <div class="row ">
                        <div class="col-md-2 ">
                            <img class="icon wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.4s" src="img/pb3.png ">
                        </div>
                        <div class="col-md-9 ">
                            <p class="title wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.4s">Accessibility</p>
                            <p class="info text-left ">
                                <p class="info wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.4s">
                                    Since
                                    <span class="logo-text">BetKoin</span> is almost non-existent by the exchange rates, interest rates, transactions
                                    charges or other charges of any country; therefore it can be used at an international
                                    level without experiencing any problems. This, in turn, saves lots of time as well as
                                    money which is otherwise spent in transferring money from one country to the other. Betkoin
                                    operates at the universal level and hence makes transactions quite easy.
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 ">
                    <div class="row ">
                        <div class="col-md-2 ">
                            <img class="icon wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s" src="img/pb4.png ">
                        </div>
                        <div class="col-md-9 ">
                            <p class="title wow fadeInLeftt" data-wow-duration="1s" data-wow-delay="0.4s">Highest speed with lowest cost</p>
                            <p class="info text-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
                                Instant, on-demand settlement.
                                <br> Low operational and liquidity costs of all the nodes in the system.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section Games -->
    <div class="games ">
        <div class="row">
            <div class="text-center text-uppercase heading-black wow flipInX" data-wow-duration="1s">
                <h1>games on offer</h1>
                <hr>
            </div>
        </div>


        <div class="container">

            <!-- <div class="next2">Next1 </div>
            <div class="prev2">Previous </div> -->
            <uib-tabset type="pills" justified="true" class="games-tabs">
                <uib-tab heading="CASINO">
                    <div class="next">
                        <img src="img/next.png">
                    </div>
                    <div class="prev">
                        <img src="img/previous.png">
                    </div>
                    <div class="relative">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide games-card" style="background-image:url({{s.img}});" ng-repeat="s in mySlides">
                                    <div class="offer-game">
                                        <h5 class="text-center">{{s.title}}</h5>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div> -->
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="SPORTS BOOK" ng-click="createswiper()">
                    <!-- <div class="next2">Next2 </div>
                    <div class="prev2">Previous2 </div> -->
                    <div class="swiper-container1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide games-card" style="background-image:url({{s.img}});" ng-repeat="s in mySlides2">
                                <div class="offer-game">
                                    <h5 class="text-center">{{s.title}}</h5>
                                </div>
                            </div>
                            <!-- <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div> -->
                        </div>

                    </div>
                    <!-- <swiper class="swiper-container1" autoplay="5000" effect="slide" slides-per-view="3" loop="true">
                            <slides>
                                <slide ng-repeat="s in mySlides">
                                    <img ng-src="{{s.img}}" class="img-full" noloading="true">
                                </slide>
                            </slides>
                            <prev></prev>
                            <next></next>
                            <pagination></pagination>
                        </swiper> -->
                </uib-tab>
            </uib-tabset>

        </div>

    </div>

    <!-- Section Where To Buy -->
    <div class="wheretobuy">
        <div class="text-center text-uppercase heading-yellow wow pulse" data-wow-duration="1s">
            <h1>Where to buy BetKoins</h>
                <hr>
        </div>
        <div class="mt-4 pt-4 text-center">
            <a href="#" title="Etherdelta" class="d-inline-block mb-4 wow pulse" data-wow-duration="1s" data-wow-delay="0.2s">
                <img src="img/buy1.png">
            </a>
            <a href="#" title="Cryptopia" class="d-inline-block wow pulse" data-wow-duration="1s" data-wow-delay="0.4s">
                <img src="img/buy2.png">
            </a>
        </div>
        <div class="mt-4 pt-4 text-center ">
            <a href="#" title="Etherdelta" class="d-inline-block mb-4 wow pulse" data-wow-duration="1s" data-wow-delay="0.6s">
                <img src="img/buy3.png ">
            </a>
            <a href="#" title="Cryptopia" class="d-inline-block wow pulse" data-wow-duration="1s" data-wow-delay="0.8s">
                <img src="img/buy4.png">
            </a>
        </div>
    </div>

    <!-- Section Roadmap -->
    <!-- <div class="roadmap ">
        <div class="container ">
            <div class="row ">
                <div class="text-center text-uppercase">
                    <h3>Roadmap</h3>
                    <hr>
                </div>
            </div>
            <div class="row ">

                <div class="col-md-4 col-xs-12 ">
                    <div class="block-inline arrow wow fadeInLeft">
                        <div class="block-wrapper text-center ">
                            <h3 class="heading-white">
                                QUARTER 1
                                <span>2018</span>
                            </h3>
                            <ul>
                                <li>ICO</li>
                                <li>Internal BetKoin exchange</li>
                                <li>Development of gaming system. Accept BetKoin Tokens to market &amp; bet.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 ">
                    <div class="block-inline arrow wow fadeInLeft" data-wow-delay="0.5s">
                        <div class="block-wrapper">
                            <h3>
                                QUARTER 2
                                <span>2018</span>
                            </h3>
                            <ul>
                                <li>List BetKoin on international crypto currency exchanges and list on coinmarketcap.</li>
                                <li>Attract and further develop the community.</li>
                                <li>Officially publish gaming system. Players can play and gamble.</li>
                                <li>Create APIs that allows existing gaming systems to easily integrate.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 ">
                    <div class="block-inline arrow wow fadeInLeft" data-wow-delay="1s">
                        <div class="block-wrapper">
                            <h3>
                                QUARTER 3&amp;4
                                <span>2018</span>
                            </h3>
                            <ul>
                                <li>Build gaming ecosystem. Attract more gaming service providers to the ecosystem.</li>
                                <li>Focus on marketing to create a strong player community.</li>
                                <li>Continuously upgrade and optimize APIs &amp; systems to meet the expansion strategy.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Section ICO Timeline -->
    <!-- <div class="timeline ">
        <div class="container ">
            <div class="row ">
                <div class="text-center text-uppercase">
                    <h3>ICO Timeline</h3>
                    <hr>
                </div>
            </div>
            <div class="row block">
                <div class="col-md-4 col-xs-12 wow flipInX">
                    <div class="block-inline arrow">
                        <div class="block-wrapper">
                            <h3>
                                ROUND 1
                                <span>Jan 22
                                    <sup>th</sup> - Feb 17
                                    <sup>th</sup>
                                </span>
                            </h3>
                            <div class="number">
                                <sup>$</sup>0.7
                            </div>
                            <div class="bonus">
                                Bonus 10%/ BetKoin Token
                                <span class="display-block">purchase amount</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 wow flipInX" data-wow-delay="0.3s">
                    <div class="block-inline arrow">
                        <div class="block-wrapper">
                            <h3>
                                ROUND 2
                                <span>Feb 18
                                    <sup>th</sup> - Mar 15
                                    <sup>th</sup>
                                </span>
                            </h3>
                            <div class="number">
                                <sup>$</sup>1.0
                            </div>
                            <div class="bonus">
                                Bonus 7%/ BetKoin Token
                                <span class="display-block">purchase amount</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 wow flipInX" data-wow-delay="0.6s">
                    <div class="block-inline">
                        <div class="block-wrapper">
                            <h3>
                                ROUND 3
                                <span>Mar 16
                                    <sup>th</sup> - Apr 10
                                    <sup>th</sup>
                                </span>
                            </h3>
                            <div class="number">
                                <sup>$</sup>1.5
                            </div>
                            <div class="bonus">
                                Without bonus
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>