<!-- <div class="container">
    <a class="btn btn-default" ng-click="buttonClick()">Demo Button</a>
    <flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
        <li>
            <img ng-src="{{s}}" class="img-full">
        </li>
    </flex-slider>
    <swiper autoplay="5000" effect="slide" slides-per-view="1" loop="true">
        <slides>
            <slide ng-repeat="s in mySlides">
                <img ng-src="{{s}}" class="img-full" noloading="true">
            </slide>
        </slides>
        <prev></prev>
        <next></next>
        <pagination></pagination>
    </swiper>
    <div class="row">               
        <div class="col-md-2" ng-repeat="s in mySlides">
            <a ng-href="{{s}}" data-fancybox="group" rel="gallary" fancybox>
                <img ng-src="{{s}}" class="img-full">
            </a>
        </div>
        <div class="col-md-2">
            <a class="various" data-fancybox="group" rel="gallary" href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1" fancybox><img ng-src="http://img.youtube.com/vi/L9szn1QQfas/maxresdefault.jpg" class="img-full"></a>
        </div>
        <div class="col-md-2">
            <a class="various" data-fancybox="group" rel="gallary" href="https://vimeo.com/191947042" class="img-full"></a>
        </div>
    </div>
</div> -->

<div full-page options="mainOptions">
    <!-- Social Media -->
    <div class="socialmedia">
        <div class="wow flipInX" data-wow-duration="1s" data-wow-delay="1s">
            <a href="#">
                <img src="img/facebook.png">
            </a>
        </div>
        <div class="wow flipInX" data-wow-duration="1s" data-wow-delay="1.4s">
            <a href="#">
                <img src="img/twitter.png">
            </a>
        </div>
        <div class="wow flipInX" data-wow-duration="1s" data-wow-delay="1.8s">
            <a href="#">
                <img src="img/instagram.png">
            </a>
        </div>
    </div>

    <!-- Section Cover -->
    <div class="section-cover section">
        <div class="container">
            <div class="globe-container">
                <div class="col-md-7 col-xs-8">
                    <div class="globe">
                        <img class="wdh" src="img/newglobe.gif">
                    </div>
                </div>
                <div class="globe-text">
                    <p class="title text-left">
                        <h1>BetKoin</h1>
                    </p>
                    <h4 class="subtitle text-left">Your access card to the world of gambling!
                        <br>Targetting 495 Billion USD Gambling Industry</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Section Why Betkoin -->
    <div class="whytobuy section">
        <div class="text-center text-uppercase heading-yellow">
            <h2>platform benefits</h2>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <div class="heading-yellow">
                        <h3 class="text-center text-uppercase ">Why to invest in Betkoin</h3>
                        <hr>
                        <p>Betkoin is the first crypto to actually have a concept and a business plan. It's a huge transformation
                            in the gambling and betting world. The widespread adoption of cryptocurrency in gambling is no
                            more a pipe dream. With Betkoin, its a reality now. This crypto is your ATM for any type of betting,
                            be it for casino games like Teen Patti, Poker or sportsbook like Horse racing, Cricket, football
                            etc. Betkoin is based on blockchain technology. Transactions are permanent with 0% chance of
                            fraud.
                        </p>
                    </div>
                    <div class="heading-yellow">
                        <h3 class="text-center text-uppercase">Why to invest in Betkoin</h3>
                        <hr>
                        <div class="mt-4 pt-4">
                            <div class="">
                                <div class="text-left">
                                    <p>In 2016, the total gambling gross yield worldwide was projected to reach 450 billion
                                        U.S. dollars. This was forecasted to rise to 495 billion U.S. dollars by 2019. These
                                        stats clearly state what collection is made from betting and that there will be continuously
                                        demand for Betkoin and so the price will keep rising. Hence, it will be a steady
                                        and continuous growth.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- <img src="img/graph.svg" class="img-full"> -->
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600.08 700"
                        style="enable-background:new 0 0 600.08 700;" xml:space="preserve">
                        <style type="text/css">
                            .st0 {
                                fill: #202A33;
                            }

                            .st1 {
                                fill: #1C232A;
                            }

                            .st2 {
                                fill: none;
                                stroke: #415B6F;
                                stroke-miterlimit: 10;
                            }

                            .st3 {
                                fill: none;
                                stroke: #FFFFFF;
                                stroke-miterlimit: 10;
                            }

                            .st4 {
                                fill: #FFD700;
                            }

                            .st5 {
                                font-family: 'MyriadPro-Regular';
                            }

                            .st6 {
                                font-size: 14px;
                            }

                            .st7 {
                                fill: #2BCEE1;
                            }

                            .st8 {
                                fill: none;
                                stroke: #2BCEE1;
                                stroke-width: 2;
                                stroke-miterlimit: 10;
                            }

                            .st9 {
                                fill: none;
                                stroke: #FFD700;
                                stroke-width: 2;
                                stroke-miterlimit: 10;
                            }

                            .st10 {
                                fill: #FFFFFF;
                            }

                            .st11 {
                                opacity: 0.8;
                                fill: none;
                                stroke: #FFD700;
                                stroke-width: 3;
                                stroke-miterlimit: 10;
                            }

                            .st12 {
                                opacity: 0.8;
                                fill: none;
                                stroke: #2BCEE1;
                                stroke-width: 3;
                                stroke-miterlimit: 10;
                            }

                            .st13 {
                                fill: #E8B863;
                            }

                            .st14 {
                                font-family: 'Oswald-Regular';
                            }

                            .st15 {
                                font-size: 36px;
                            }

                            .st16 {
                                fill: none;
                            }

                            .st17 {
                                font-family: 'OpenSans';
                            }

                            .st18 {
                                font-size: 19px;
                            }

                            .st19 {
                                fill: #1A1A1A;
                                stroke: #2BCEE1;
                                stroke-miterlimit: 10;
                            }

                            .st20 {
                                fill: #1A1A1A;
                                stroke: #FFD700;
                                stroke-miterlimit: 10;
                            }

                            .path {

                                stroke-dasharray: 1000;
                                stroke-dashoffset: 1000;
                                animation: dash 3s linear forwards;
                                ;

                            }

                            @keyframes dash {
                                0% {
                                    stroke-dashoffset: 1000;
                                }

                                100% {
                                    stroke-dashoffset: 0;
                                }
                            }

                            .opa {
                                animation: opac 1s linear forwards;
                                ;
                                animation-delay: 3s;
                                fill-opacity: 0
                            }

                            @keyframes opac {
                                0% {
                                    fill-opacity: 0;

                                }


                                100% {
                                    fill-opacity: 1;

                                }


                            }

                            .st4:hover #y1 {
                                opacity: 0;
                            }
                        </style>
                        <g id="bg">
                            <rect x="0.08" class="st0" width="600" height="700" />
                            <rect y="224.341" class="st1" width="599.84" height="372.822" />
                        </g>
                        <g id="grid">
                            <g>
                                <path class="st2" d="M65.707,575.739h473.221H65.707z" />
                                <path class="st2" d="M65.707,558.097h473.918H65.707z" />
                                <path class="st2" d="M65.707,540.455h473.918H65.707z" />
                                <path class="st2" d="M65.707,522.812h473.918H65.707z" />
                                <path class="st2" d="M65.707,505.17h473.918H65.707z" />
                                <path class="st2" d="M65.707,487.528h473.918H65.707z" />
                                <path class="st2" d="M65.707,469.885h473.918H65.707z" />
                                <path class="st2" d="M65.707,452.243h473.918H65.707z" />
                                <path class="st2" d="M65.707,434.601h473.918H65.707z" />
                                <path class="st2" d="M65.707,416.958h473.918H65.707z" />
                                <path class="st2" d="M65.707,399.316h473.918H65.707z" />
                                <path class="st2" d="M65.707,381.673h473.918H65.707z" />
                                <path class="st2" d="M65.707,364.031h473.918H65.707z" />
                                <path class="st2" d="M65.707,346.389h473.918H65.707z" />
                                <path class="st2" d="M65.707,328.746h473.918H65.707z" />
                                <path class="st2" d="M65.707,311.104h473.918H65.707z" />
                                <path class="st2" d="M65.522,310.672V575.58V310.672z" />
                                <path class="st2" d="M83.056,310.672V575.58V310.672z" />
                                <path class="st2" d="M100.589,310.672V575.58V310.672z" />
                                <path class="st2" d="M118.123,310.672V575.58V310.672z" />
                                <path class="st2" d="M135.656,310.672V575.58V310.672z" />
                                <path class="st2" d="M153.19,310.672V575.58V310.672z" />
                                <path class="st2" d="M170.723,310.672V575.58V310.672z" />
                                <path class="st2" d="M188.257,310.672V575.58V310.672z" />
                                <path class="st2" d="M205.791,310.672V575.58V310.672z" />
                                <path class="st2" d="M223.324,310.672V575.58V310.672z" />
                                <path class="st2" d="M240.858,310.672V575.58V310.672z" />
                                <path class="st2" d="M258.391,310.672V575.58V310.672z" />
                                <path class="st2" d="M275.925,310.672V575.58V310.672z" />
                                <path class="st2" d="M293.459,310.672V575.58V310.672z" />
                                <path class="st2" d="M310.992,310.672V575.58V310.672z" />
                                <path class="st2" d="M328.526,310.672V575.58V310.672z" />
                                <path class="st2" d="M346.059,310.672V575.58V310.672z" />
                                <path class="st2" d="M363.593,310.672V575.58V310.672z" />
                                <path class="st2" d="M381.127,310.672V575.58V310.672z" />
                                <path class="st2" d="M398.66,310.672V575.58V310.672z" />
                                <path class="st2" d="M416.194,310.672V575.58V310.672z" />
                                <path class="st2" d="M433.727,310.672V575.58V310.672z" />
                                <path class="st2" d="M451.261,310.672V575.58V310.672z" />
                                <path class="st2" d="M468.795,310.672V575.58V310.672z" />
                                <path class="st2" d="M486.328,310.672V575.58V310.672z" />
                                <path class="st2" d="M503.862,310.672V575.58V310.672z" />
                                <path class="st2" d="M521.328,310.672V575.58V310.672z" />
                                <path class="st2" d="M538.862,310.672V575.58V310.672z" />
                            </g>
                        </g>
                        <g id="Lines">
                            <polyline class="st3" points="65.228,246.083 65.228,576.059 539.089,576.059 539.089,246 	" />
                            <!-- <text transform="matrix(1 0 0 1 22.272 560.0713)" class="st4 st5 st6">2000</text> -->
                            <text transform="matrix(1 0 0 1 22.272 533.8525)" class="st4 st5 st6">5000</text>
                            <text transform="matrix(1 0 0 1 15.0898 489.7285)" class="st4 st5 st6">10000</text>
                            <text transform="matrix(1 0 0 1 15.0898 445.6035)" class="st4 st5 st6">15000</text>
                            <text transform="matrix(1 0 0 1 15.0898 401.4785)" class="st4 st5 st6">20000</text>
                            <text transform="matrix(1 0 0 1 15.0898 357.3535)" class="st4 st5 st6">25000</text>
                            <!-- <text transform="matrix(1 0 0 1 545 570.9434)" class="st7 st5 st6">$10000</text> -->
                            <text transform="matrix(1 0 0 1 545 534.4922)" class="st7 st5 st6">$50000</text>
                            <text transform="matrix(1 0 0 1 545 489.7285)" class="st7 st5 st6">$100000</text>
                            <text transform="matrix(1 0 0 1 545 445.6035)" class="st7 st5 st6">$150000</text>
                            <text transform="matrix(1 0 0 1 545 402.1182)" class="st7 st5 st6">$200000</text>
                            <text transform="matrix(1 0 0 1 545 360)" class="st7 st5 st6">$250000</text>
                            <text transform="matrix(1 0 0 1 545 314.5078)" class="st7 st5 st6">$300000</text>
                            <line class="st8" x1="535" y1="487.81" x2="543" y2="487.81" />
                            <line class="st8" x1="535" y1="399.56" x2="543" y2="399.56" />
                            <line class="st8" x1="535" y1="311.311" x2="543" y2="311.311" />
                            <line class="st8" x1="535" y1="531.295" x2="543" y2="531.295" />
                            <line class="st8" x1="535" y1="443" x2="543" y2="443" />
                            <line class="st8" x1="535" y1="357.3535" x2="543" y2="357.3535" />
                            <line class="st9" x1="58.673" y1="531.295" x2="65.068" y2="531.295" />
                            <line class="st9" x1="58.673" y1="487.81" x2="65.068" y2="487.81" />
                            <line class="st9" x1="58.673" y1="443.046" x2="65.068" y2="443.046" />
                            <line class="st9" x1="58.673" y1="399.56" x2="65.068" y2="399.56" />
                            <line class="st9" x1="58.673" y1="353.517" x2="65.068" y2="353.517" />
                            <text transform="matrix(1 0 0 1 136.1011 591.8496)" class="st10 st5 st6">2018</text>
                            <text transform="matrix(1 0 0 1 223.7114 591.8496)" class="st10 st5 st6">2019</text>
                            <text transform="matrix(1 0 0 1 311.3203 591.8496)" class="st10 st5 st6">2020</text>
                            <text transform="matrix(1 0 0 1 398.9307 591.8496)" class="st10 st5 st6">2021</text>
                            <text transform="matrix(1 0 0 1 486.54 591.8496)" class="st10 st5 st6">2022</text>
                        </g>
                        <g id="line1">
                            <polyline class="st11 path" points="153.637,573.181 241.247,566.787 327.578,488.129 416.467,416.507 502.798,328.897 	" />
                        </g>
                        <g id="circ1">

                            <circle id="cx1" class="st4" cx="153.957" cy="573.501" r="3.197">
                                <set attributeName="visibility" from="hidden" to="visible" begin="showhide.mouseover" end="showhide.mouseout" />
                            </circle>
                            <circle id="cx2" class="st4" cx="240.927" cy="567.106" r="3.197" />
                            <circle id="cx3" class="st4" cx="328.537" cy="487.17" r="3.197" />
                            <circle id="cx4" class="st4" cx="416.787" cy="416.827" r="3.197" />
                            <circle id="cx5" class="st4" cx="503.757" cy="328.577" r="3.197" />
                        </g>
                        <g id="line2">
                            <polyline class="st12 path" points="153.317,566.787 240.927,479.496 327.898,428.977 416.147,366.946 503.757,338.809 	" />
                            <rect x="165.132" y="258.873" class="st7" width="14.708" height="14.708" />
                            <rect x="313.669" y="258.873" class="st4" width="14.708" height="14.708" />
                            <text transform="matrix(1 0 0 1 190.5479 269.7441)" class="st10 st5 st6">Turnover in USD</text>
                            <text transform="matrix(1 0 0 1 336.4434 269.7441)" class="st10 st5 st6">Number of users</text>
                        </g>
                        <g id="Text">
                            <text transform="matrix(1 0 0 1 203.2695 47.8848)" class="st13 st14 st15">Lorem Ipsum</text>
                            <rect x="45.244" y="74.477" class="st16" width="505.196" height="131.023" />
                            <text transform="matrix(1 0 0 1 45.2437 88.917)">
                                <tspan x="0" y="0" class="st10 st17 st18">1 box </tspan>
                                <tspan x="0" y="22.8" class="st10 st17 st18">sed diam nonummy nibh euismod tincidunt ut laoreet </tspan>
                                <tspan x="0" y="45.6" class="st10 st17 st18">dolore magna aliquam erat volutpat. Ut wisi enim ad </tspan>
                                <tspan x="0" y="68.4" class="st10 st17 st18">minim veniam, quis nostrud exerci tation ullamcorper </tspan>
                                <tspan x="0" y="91.2" class="st10 st17 st18">suscipit lobortis nisl ut aliquip ex ea commodo conse-</tspan>
                                <tspan x="0" y="114" class="st10 st17 st18">quat. Duis autem vel eum iriure dolor in hendrerit in vul-</tspan>
                            </text>
                        </g>
                        <g id="circs2">
                            <circle id="cy1" class="st7" cx="152.678" cy="566.467" r="3.197" />
                            <circle id="cy2" class="st7" cx="240.927" cy="479.496" r="3.197" />
                            <circle id="cy3" class="st7" cx="328.537" cy="428.337" r="3.197" />
                            <circle id="cy4" class="st7" cx="416.147" cy="366.946" r="3.197" />
                            <circle id="cy5" class="st7" cx="504.396" cy="338.809" r="3.197" />
                        </g>
                        <g id="Layer_8" visibility="hidden">
                            <g id="y3">
                                <path class="st19" d="M358.401,398.601h-58.654c-1.398,0-2.532,1.134-2.532,2.532v12.842c0,1.398,1.133,2.532,2.532,2.532h25.33
			l3.997,4.636l3.997-4.636h25.33c1.398,0,2.532-1.134,2.532-2.532v-12.842C360.933,399.735,359.799,398.601,358.401,398.601z"
                                />
                                <text transform="matrix(1 0 0 1 303.938 411.0703)" class="st7 st5 st6">$165000</text>
                                <set attributeName="visibility" from="hidden" to="visible" begin="cy3.mouseover" end="cy3.mouseout" />
                            </g>
                            <g id="y2">
                                <path class="st19" d="M270.401,449.601h-58.654c-1.398,0-2.532,1.134-2.532,2.532v12.842c0,1.398,1.133,2.532,2.532,2.532h25.33
			l3.997,4.636l3.997-4.636h25.33c1.398,0,2.532-1.134,2.532-2.532v-12.842C272.933,450.735,271.799,449.601,270.401,449.601z"
                                />
                                <text transform="matrix(1 0 0 1 215.938 462.0703)" class="st7 st5 st6">$110000</text>
                                <set attributeName="visibility" from="hidden" to="visible" begin="cy2.mouseover" end="cy2.mouseout" />
                            </g>
                            <g id="y1">
                                <path class="st19" d="M182.401,535.601h-58.654c-1.398,0-2.532,1.133-2.532,2.532v12.842c0,1.398,1.133,2.532,2.532,2.532h25.33
			l3.997,4.636l3.997-4.636h25.33c1.398,0,2.532-1.133,2.532-2.532v-12.842C184.933,536.735,183.799,535.601,182.401,535.601z"
                                />
                                <text transform="matrix(1 0 0 1 133.938 548.0703)" class="st7 st5 st6">$5500</text>
                                <set attributeName="visibility" from="hidden" to="visible" begin="cy1.mouseover" end="cy1.mouseout" />

                            </g>
                            <g id="y4">
                                <path class="st19" d="M445.401,336.601h-58.654c-1.398,0-2.532,1.134-2.532,2.532v12.842c0,1.398,1.133,2.532,2.532,2.532h25.33
			l3.997,4.636l3.997-4.636h25.33c1.398,0,2.532-1.134,2.532-2.532v-12.842C447.933,337.735,446.799,336.601,445.401,336.601z"
                                />
                                <text transform="matrix(1 0 0 1 390.938 349.0703)" class="st7 st5 st6">$235000</text>
                                <set attributeName="visibility" from="hidden" to="visible" begin="cy4.mouseover" end="cy4.mouseout" />
                            </g>
                            <g id="y5">
                                <path class="st19" d="M533.401,309.601h-58.654c-1.398,0-2.532,1.134-2.532,2.532v12.842c0,1.398,1.133,2.532,2.532,2.532h25.33
			l3.997,4.636l3.997-4.636h25.33c1.398,0,2.532-1.134,2.532-2.532v-12.842C535.933,310.735,534.799,309.601,533.401,309.601z"
                                />
                                <text transform="matrix(1 0 0 1 478.938 322.0703)" class="st7 st5 st6">$165000</text>
                                <set attributeName="visibility" from="hidden" to="visible" begin="cy5.mouseover" end="cy5.mouseout" />
                            </g>
                            <g id="x1_1_">
                                <path class="st20" d="M177.802,542.434h-48.654c-1.398,0-2.532,1.133-2.532,2.532v12.842c0,1.398,1.133,2.532,2.532,2.532h20.33
			l3.997,4.636l3.997-4.636h20.33c1.398,0,2.532-1.133,2.532-2.532v-12.842C180.334,543.568,179.2,542.434,177.802,542.434z"
                                />
                                <text transform="matrix(1 0 0 1 140.8849 555.9043)" class="st4 st5 st6">200</text>
                                <set attributeName="visibility" from="hidden" to="visible" begin="cx1.mouseover" end="cx1.mouseout" />
                            </g>
                            <g id="x2">
                                <path class="st20" d="M264.802,536.434h-48.654c-1.398,0-2.532,1.133-2.532,2.532v12.842c0,1.398,1.133,2.532,2.532,2.532h20.33
			l3.997,4.636l3.997-4.636h20.33c1.398,0,2.532-1.133,2.532-2.532v-12.842C267.334,537.568,266.2,536.434,264.802,536.434z"
                                />
                                <text transform="matrix(1 0 0 1 222.5207 549.9043)" class="st4 st5 st6">10000</text>
                                <set attributeName="visibility" from="hidden" to="visible" begin="cx2.mouseover" end="cx2.mouseout" />
                            </g>
                            <g id="x3">
                                <path class="st20" d="M353.007,457.434h-48.654c-1.398,0-2.532,1.133-2.532,2.532v12.842c0,1.398,1.133,2.532,2.532,2.532h20.33
			l3.997,4.636l3.997-4.636h20.33c1.398,0,2.532-1.133,2.532-2.532v-12.842C355.538,458.568,354.405,457.434,353.007,457.434z"
                                />
                                <text transform="matrix(1 0 0 1 307.1345 470.9043)" class="st4 st5 st6">100000</text>
                                <set attributeName="visibility" from="hidden" to="visible" begin="cx3.mouseover" end="cx3.mouseout" />
                            </g>
                            <g id="x4">
                                <path class="st20" d="M440.802,386.434h-48.654c-1.398,0-2.532,1.133-2.532,2.532v12.842c0,1.398,1.133,2.532,2.532,2.532h20.33
			l3.997,4.636l3.997-4.636h20.33c1.398,0,2.532-1.133,2.532-2.532v-12.842C443.334,387.568,442.2,386.434,440.802,386.434z"
                                />
                                <text transform="matrix(1 0 0 1 394.339 399.9043)" class="st4 st5 st6">180000</text>
                                <set attributeName="visibility" from="hidden" to="visible" begin="cx4.mouseover" end="cx4.mouseout" />
                            </g>
                            <g id="x5">
                                <path class="st20" d="M527.802,296.434h-48.654c-1.398,0-2.532,1.133-2.532,2.532v12.842c0,1.398,1.133,2.532,2.532,2.532h20.33
			l3.997,4.636l3.997-4.636h20.33c1.398,0,2.532-1.133,2.532-2.532v-12.842C530.334,297.568,529.2,296.434,527.802,296.434z"
                                />
                                <text transform="matrix(1 0 0 1 482.339 309.9043)" class="st4 st5 st6">290000</text>
                                <set attributeName="visibility" from="hidden" to="visible" begin="cx5.mouseover" end="cx5.mouseout" />
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <!-- Section Platform Benefits -->
    <div class="why section">
        <div class="container ">
            <div class="text-center text-uppercase heading-yellow">
                <h2>platform benefits</h2>
                <hr>
            </div>
            <div class="row points">
                <div class="col-md-6 col-xs-12 row-eq-height">
                    <div class="row mar15">
                        <div class="col-md-2">
                            <img class="img-full" src="img/pb1.png ">
                        </div>
                        <div class="col-md-9">
                            <h3 class="title">Transparency</h3>
                            <p class="info text-left">
                                Being hosted on smart contracts on the Ethereum Blockchain, users can look through our contract source code as well as track
                                any transaction made on the contract to ensure
                                <span class="logo-text"> BetKoin</span>
                                stays fair and relies on accurate game outcomes and does not act maliciously.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 row-eq-height">
                    <div class="row mar15">
                        <div class="col-md-2 ">
                            <img class="img-full" src="img/pb2.png ">
                        </div>
                        <div class="col-md-9 ">
                            <h3 class="title">Highest security technology</h3>
                            <p class="info text-left">
                                Use of blockchain technology and constant improvements. Blockchain is designed to resist data changes. The information in
                                the blockchain cannot be changed.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row points row-eq-height ">
                <div class="col-md-6 col-xs-12 row-eq-height">
                    <div class="row mar15">
                        <div class="col-md-2 ">
                            <img class="img-full" src="img/pb3.png ">
                        </div>
                        <div class="col-md-9 ">
                            <h3 class="title">Accessibility</h3>
                            <p class="info text-left ">
                                <p class="info">
                                    Since
                                    <span class="logo-text">BetKoin</span> is almost non-existent by the exchange rates, interest rates, transactions
                                    charges or other charges of any country; therefore it can be used at an international
                                    level without experiencing any problems. This, in turn, saves lots of time as well as
                                    money which is otherwise spent in transferring money from one country to the other. Betkoin
                                    operates at the universal level and hence makes transactions quite easy.
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 row-eq-height">
                    <div class="row mar15">
                        <div class="col-md-2 ">
                            <img class="img-full" src="img/pb4.png ">
                        </div>
                        <div class="col-md-9 ">
                            <h3 class="title">Highest speed with lowest cost</h3>
                            <p class="info text-left">
                                Instant, on-demand settlement.
                                <br> Low operational and liquidity costs of all the nodes in the system.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section Games -->
    <div class="games section">
        <div class="row">
            <div class="text-center text-uppercase heading-yellow">
                <h2>games on offer</h2>
                <hr>
            </div>
        </div>
        <div class="container">
            <!-- <div class="next2">Next1 </div>
            <div class="prev2">Previous </div> -->
            <uib-tabset type="pills" justified="true" class="games-tabs">
                <uib-tab heading="CASINO">
                    <div class="next">
                        <img src="img/next.png">
                    </div>
                    <div class="prev">
                        <img src="img/prev.png">
                    </div>
                    <div class="relative">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide games-card" style="background-image:url({{s.img}});" ng-repeat="s in mySlides">
                                    <div class="offer-game">
                                        <h5 class="text-center">{{s.title}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="SPORTS BOOK" ng-click="createswiper()">
                    <!-- <div class="next2">Next2 </div>
                    <div class="prev2">Previous2 </div> -->
                    <div class="swiper-container1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide games-card" style="background-image:url({{s.img}});" ng-repeat="s in mySlides2">
                                <div class="offer-game">
                                    <h5 class="text-center">{{s.title}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>

    <!-- Section     To Buy -->
    <div class="wheretobuy section">
        <div class="text-center text-uppercase heading-yellow">
            <h1>Where to buy BetKoins</h>
                <hr>
        </div>
        <div class="mt-4 pt-4 text-center icons">
            <a href="#" title="Etherdelta" class="d-inline-block mb-4">
                <img src="img/buy1.png">
            </a>
            <a href="#" title="Cryptopia" class="d-inline-block">
                <img src="img/buy2.png">
            </a>
        </div>
        <div class="mt-4 pt-4 text-center icons">
            <a href="#" title="Etherdelta" class="d-inline-block mb-4">
                <img src="img/buy3.png ">
            </a>
            <a href="#" title="Cryptopia" class="d-inline-block">
                <img src="img/buy4.png">
            </a>
        </div>
    </div>

    <!-- Section Roadmap -->
    <!-- <div class="roadmap ">
        <div class="container ">
            <div class="row ">
                <div class="text-center text-uppercase">
                    <h3>Roadmap</h3>
                    <hr>
                </div>
            </div>
            <div class="row ">

                <div class="col-md-4 col-xs-12 ">
                    <div class="block-inline arrow wow fadeInLeft">
                        <div class="block-wrapper text-center ">
                            <h3 class="heading-white">
                                QUARTER 1
                                <span>2018</span>
                            </h3>
                            <ul>
                                <li>ICO</li>
                                <li>Internal BetKoin exchange</li>
                                <li>Development of gaming system. Accept BetKoin Tokens to market &amp; bet.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 ">
                    <div class="block-inline arrow wow fadeInLeft" data-wow-delay="0.5s">
                        <div class="block-wrapper">
                            <h3>
                                QUARTER 2
                                <span>2018</span>
                            </h3>
                            <ul>
                                <li>List BetKoin on international crypto currency exchanges and list on coinmarketcap.</li>
                                <li>Attract and further develop the community.</li>
                                <li>Officially publish gaming system. Players can play and gamble.</li>
                                <li>Create APIs that allows existing gaming systems to easily integrate.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 ">
                    <div class="block-inline arrow wow fadeInLeft" data-wow-delay="1s">
                        <div class="block-wrapper">
                            <h3>
                                QUARTER 3&amp;4
                                <span>2018</span>
                            </h3>
                            <ul>
                                <li>Build gaming ecosystem. Attract more gaming service providers to the ecosystem.</li>
                                <li>Focus on marketing to create a strong player community.</li>
                                <li>Continuously upgrade and optimize APIs &amp; systems to meet the expansion strategy.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Section ICO Timeline -->
    <!-- <div class="timeline ">
        <div class="container ">
            <div class="row ">
                <div class="text-center text-uppercase">
                    <h3>ICO Timeline</h3>
                    <hr>
                </div>
            </div>
            <div class="row block">
                <div class="col-md-4 col-xs-12 wow flipInX">
                    <div class="block-inline arrow">
                        <div class="block-wrapper">
                            <h3>
                                ROUND 1
                                <span>Jan 22
                                    <sup>th</sup> - Feb 17
                                    <sup>th</sup>
                                </span>
                            </h3>
                            <div class="number">
                                <sup>$</sup>0.7
                            </div>
                            <div class="bonus">
                                Bonus 10%/ BetKoin Token
                                <span class="display-block">purchase amount</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 wow flipInX" data-wow-delay="0.3s">
                    <div class="block-inline arrow">
                        <div class="block-wrapper">
                            <h3>
                                ROUND 2
                                <span>Feb 18
                                    <sup>th</sup> - Mar 15
                                    <sup>th</sup>
                                </span>
                            </h3>
                            <div class="number">
                                <sup>$</sup>1.0
                            </div>
                            <div class="bonus">
                                Bonus 7%/ BetKoin Token
                                <span class="display-block">purchase amount</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 wow flipInX" data-wow-delay="0.6s">
                    <div class="block-inline">
                        <div class="block-wrapper">
                            <h3>
                                ROUND 3
                                <span>Mar 16
                                    <sup>th</sup> - Apr 10
                                    <sup>th</sup>
                                </span>
                            </h3>
                            <div class="number">
                                <sup>$</sup>1.5
                            </div>
                            <div class="bonus">
                                Without bonus
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>