<div class="partner">
    <div class="row">
        <!-- Section About Us Info -->
        <div class="token-cover">
            <div class="token-parallax">
                <div class="container">
                    <div class="row tokeninfo text-center">
                        <h2 class="heading-yellow">Partner With Us</h2>
                        <p class="">
                            We're ready to lead you into the future of gambling world!
                            <br> We believe in the potential of BetKoin to reach global adoption.
                            <br>
                            <br>
                        </p>
                        <p class="">
                            For partnering with us, you will get access to our ecosystem where you can be a part as a broker, get a master dashboard
                            and can create players. In multi player games, you can earn fix percentage of rakes. Clients
                            can find opportunities to become a bookmaker and start their own gambling business through us.
                            Incentives will be given as well, depending on strong networking capabilities. To know more,
                            please fill up the form below and we'll get back to you.
                            <br>
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="container">
                    <div class="custom-form">
                        <form name="formData">
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" ng-model="partnerData.firstName" class="form-control custom-input" id="firstName" placeholder="First Name" required name="firstName">
                                        <div class="pull-right" ng-repeat="(field,value) in formData.firstName.$error" ng-show="formData.firstName.$touched">
                                            <span class="label label-danger" ng-if="field=='required' && value">Please Enter First Name</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" ng-model="partnerData.lastName" class="form-control custom-input" id="lastName" placeholder="Last Name" required name="lastName">
                                        <div class="pull-right" ng-repeat="(field,value) in formData.lastName.$error" ng-show="formData.lastName.$touched">
                                            <span class="label label-danger" ng-if="field=='required' && value">Please Enter Last Name</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="email" ng-model="partnerData.email" class="form-control custom-input" id="email" placeholder="Email" name="email" required>
                                        <div class="pull-right" ng-repeat="(field,value) in formData.email.$error" ng-show="formData.email.$touched">
                                            <span class="label label-danger" ng-if="field=='required' && value">Please Enter Email</span>
                                            <span class="label label-danger" ng-if="field=='email' && value">Please Enter Valid Email</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="number" name="mobile" ng-model="partnerData.mobile" class="form-control custom-input" id="mobile" placeholder="Mobile Number"
                                            min="10" maxlength="10" required>
                                        <div class="pull-right" ng-repeat="(field,value) in formData.age.$error" ng-show="formData.age.$touched">
                                            <span class="label label-danger" ng-if="field=='required' && value">Please Enter Mobile Number</span>
                                            <span class="label label-danger" ng-if="field=='min' && value">Age should be greater than 18</span>
                                            <span class="label label-danger" ng-if="field=='max' && value">Age should be less than 50</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="form-group">
                                        <textarea name="message" ng-model="partnerData.message" id="message" cols="30" rows="5" class="form-control custom-input custom-tarea"
                                            required placeholder="Leave a message"></textarea>
                                        <div class="pull-right" ng-repeat="(field,value) in formData.message.$error" ng-show="formData.message.$touched">
                                            <span class="label label-danger" ng-if="field=='required' && value">Please Leave a message</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center">
                                <button ng-click="submitForm(partnerData)" class="btn submit-btn " ng-disabled="formData.$invalid" promise-btn>Submit</button>
                                <br>
                                <br>
                            </div>
                            <div class="text-center block-tel">

                                <h3>Contact On the Following Numbers</h3>

                                <div class="row">
                                    <div class="col-md-6 col-sm-4">
                                        <div class="text-right">
                                            <img src="img/whatsapp.png" style="display: inline-flex;">
                                            <h4 style="display: inline-flex;">123456789</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-4 text-left">
                                        <a href="tel:">
                                            <img src="img/call.png" style="display: inline-flex;">
                                            <h4 style="display: inline-flex;">123456789</h4>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>