<div class="tutorials-bg">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center tutorials">
                        <h3>What is Betkoin</h3>
                        <div class="">
                            <a role="button" class="submit-btn get-king">Watch Video </a>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="text-center tutorials">
                        <h3>How to Play</h3>
                        <div class="">
                            <a role="button" class="submit-btn get-king">Watch Video </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="yellow-strip">
                Our Game Tutorials
            </div>
            <div class="">
                <div class="d-flex">
                    <div class="d-flex33">
                        <div class="episode-border">
                            <div class="episodes relative">
                                <img src="http://img.youtube.com/vi/tgbNymZ7vqY/1.jpg" class="img-responsive img-full">
                                <div class="video-icon">
                                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/X7ZkEQMhlek?autoplay=1" fancybox>
                                        <img src="img/play.png" class="img-responsive">
                                    </a>
                                </div>
                                <div class="text-center game-name">
                                    <a role="button" class="submit-btn get-king">Watch Video </a>
                                </div>
                            </div>
                            <div class="game-bg ">
                                <div>
                                    <p class="text-center color-white">
                                        in your web page. Let the src attribute point to the video URL.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex33">
                        <div class="episode-border">
                            <div class="episodes relative">
                                <img src="http://img.youtube.com/vi/tgbNymZ7vqY/1.jpg" class="img-responsive img-full">
                                <div class="video-icon">
                                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/X7ZkEQMhlek?autoplay=1" fancybox>
                                        <img src="img/play.png" class="img-responsive">
                                    </a>
                                </div>
                                <div class="text-center game-name">
                                    <a role="button" class="submit-btn get-king">Watch Video </a>
                                </div>
                            </div>
                            <div class="game-bg ">
                                <div>
                                    <p class="text-center color-white">
                                        in your web page. Let the src attribute point to the video URL.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex33">
                        <div class="episode-border">
                            <div class="episodes relative">
                                <img src="http://img.youtube.com/vi/tgbNymZ7vqY/1.jpg" class="img-responsive img-full">
                                <div class="video-icon">
                                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/X7ZkEQMhlek?autoplay=1" fancybox>
                                        <img src="img/play.png" class="img-responsive">
                                    </a>
                                </div>
                                <div class="text-center game-name">
                                    <a role="button" class="submit-btn get-king">Watch Video </a>
                                </div>
                            </div>
                            <div class="game-bg ">
                                <div>
                                    <p class="text-center color-white">
                                        in your web page. Let the src attribute point to the video URL.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="d-flex33">
                        <div class="episode-border">
                            <div class="episodes relative">
                                <img src="http://img.youtube.com/vi/tgbNymZ7vqY/1.jpg" class="img-responsive img-full">
                                <div class="video-icon">
                                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/X7ZkEQMhlek?autoplay=1" fancybox>
                                        <img src="img/play.png" class="img-responsive">
                                    </a>
                                </div>
                                <div class="text-center game-name">
                                    <a role="button" class="submit-btn get-king">Watch Video </a>
                                </div>
                            </div>
                            <div class="game-bg ">
                                <div>
                                    <p class="text-center color-white">
                                        in your web page. Let the src attribute point to the video URL.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex33">
                        <div class="episode-border">
                            <div class="episodes relative">
                                <img src="http://img.youtube.com/vi/tgbNymZ7vqY/1.jpg" class="img-responsive img-full">
                                <div class="video-icon">
                                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/X7ZkEQMhlek?autoplay=1" fancybox>
                                        <img src="img/play.png" class="img-responsive">
                                    </a>
                                </div>
                                <div class="text-center game-name">
                                    <a role="button" class="submit-btn get-king">Watch Video </a>
                                </div>
                            </div>
                            <div class="game-bg ">
                                <div>
                                    <p class="text-center color-white">
                                        in your web page. Let the src attribute point to the video URL.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex33">
                        <div class="episode-border">
                            <div class="episodes relative">
                                <img src="http://img.youtube.com/vi/tgbNymZ7vqY/1.jpg" class="img-responsive img-full">
                                <div class="video-icon">
                                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/X7ZkEQMhlek?autoplay=1" fancybox>
                                        <img src="img/play.png" class="img-responsive">
                                    </a>
                                </div>
                                <div class="text-center game-name">
                                    <a role="button" class="submit-btn get-king">Watch Video </a>
                                </div>
                            </div>
                            <div class="game-bg ">
                                <div>
                                    <p class="text-center color-white">
                                        in your web page. Let the src attribute point to the video URL.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>