<footer class="custom-footer">
    <div class="container">
        <div class="row text-center text-uppercase">
            <nav>
                <a ui-sref="home">Home</a>
                <a ui-sref="aboutus">About Us</a>
                <a ui-sref="get-started">Get Started</a>
                <a ui-sref="partner">Partner With Us</a>
                <a ui-sref="whitepaper">Whitepaper</a>
                <a ui-sref="faq">FAQ</a>
                <a ui-sref="contactus">Contact Us</a>
            </nav>
        </div>
        <div class="row">
            <div class="col-sm-5 col-xs-12 text-center">
                <small>Copyright &copy; {{template.year}}. All Rights Reserved.</small>
            </div>
            <div class="col-sm-2 col-xs-12 text-center">
                <img class="logo" src="img/logo1.png" alt="logo">
            </div>
            <div class="col-sm-5 col-xs-12">
                <div class="text-center">
                    <small>Developed & Designed by
                        <a href="http://www.wohlig.com" target="_blank">Wohlig Transformations Pvt. Ltd</a>.</small>
                </div>
            </div>
        </div>
    </div>
</footer>