<ul class="nav navbar-nav main-home-header">
  <li ng-repeat="menu in navigation" ui-sref-active="active">
    <a ui-sref="{{menu.anchor}}" ng-if="menu.anchor">{{menu.name}}</a>
    <a ui-sref="{{menu.newtab}}" ng-if="menu.newtab">{{menu.name}}</a>
    <a href="{{menu.link}}" ng-if="menu.link">{{menu.name}}</a>

    <!-- <ul class="dropdown-menu" ng-if="menu.subnav!='';">
      <li ng-repeat="submenu in menu.subnav" ui-sref-active="active">
        <a ui-serf="{{submenu.anchor}}" ng-if="submenu.anchor">{{submenu.name}}</a>
        <a herf="{{submenu.link}}" ng-if="submenu.link">{{submenu.name}}</a>
      </li>
    </ul> -->
  </li>
</ul>
<div class="" ng-controller="headerCtrl">
  <ul class="nav navbar-nav navbar-right home-header">
    <li class="right-nav" id="footleft">
      <div ng-if="username" class="profile-img d-flex  padd-left">
        <div class="relative profile">
          <div class="" id="link" ng-click="test()">
            <img src=" img/profile.jpg " class="pointer">
          </div>
          <ul class="profile-dropdown" id="subscribe-pop" ng-if="working">
            <li>
              <a href="# " ui-sref="dashboard({page:'1'})">Account</a>
            </li>
            <li>
              <a href="# " ui-sref="deposit">Deposit</a>
            </li>
            <li>
              <a href="# " ui-sref="withdrowal">Withdraw</a>
            </li>
            <li>
              <a href="# " ng-click="logout()">Logout</a>
            </li>
          </ul>

        </div>

        <div class="d-block padd-left ">
          <div>{{username}}</div>
          <small class="desc ">{{accessLevel}}</small>
        </div>
      </div>
    </li>
    <li ng-if="!username">
      <a ui-sref="login">Login</a>
    </li>
    <li ng-if="!username">
      <a ui-sref="signup">Signup</a>
    </li>
  </ul>
</div>