<!-- Social Media -->
<!-- <div class="socialmedia wow fadeInLeft">
    <div>
        <a href="#" target="_blank" class="wow" data-wow-delay="0.25s">
            <img src="img/facebook.png">
        </a>
    </div>
    <div>
        <a href="#" target="_blank" class="wow" data-wow-delay="0.40s">
            <img src="img/twitter.png">
        </a>
    </div>
    <div>
        <a href="#" target="_blank" class="wow" data-wow-delay="0.55s">
            <img src="img/instagram.png">
        </a>
    </div>
</div> -->